*:focus { outline: 0 !important;}
*:focus { outline: none !important; }
*::-moz-focus-inner { border: none !important;}

.fixed-footer {
    height: 90px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAABaCAYAAACBvMdKAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADJJREFUeNrsyjEBACAIADCwf0bMgAW0Ar/bvazaNwZWDGV3H1EURVEURVEURfHb+AQYAAGvT73//pyjAAAAAElFTkSuQmCC);
    background-repeat: repeat-x;
}

.main-content {
    padding-bottom: 90px;
    overflow: hidden;
}

.player {
    margin-top: 5px;
}

.player-alert {
    color: #B94A48;
}

.player-title {
    font-size: 14pt;
    line-height: 13px;
    display: inline-block;
    top: 0;
    margin-top: 10px;
}

.player-btn {
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}

.player-button {
    display: inline-block;
    vertical-align: top;
    margin-top: 38px;
}

.player-timer {
    display: inline-block;
    vertical-align: top;
    margin-top: 42px;
    font-size: 14pt;
    color: #666666;
}

.player-play {
    background-image: url("../img/player-play.png");
}

.player-play:hover {
    background-image: url("../img/player-play-hover.png");
}

.player-pause {
    background-image: url("../img/player-pause.png");
}

.player-pause:hover {
    background-image: url("../img/player-pause-hover.png");
}

.player-speaker {
    background-image: url("../img/player-speaker.png");
}

.player-scrubber-container {
    cursor: pointer;
    position: relative;
    height: 40px;
    background-color: #AAAAAA;
    width: 540px;
}

.player-scrubber-buffer {
    position: absolute;
    top 0;
    width: 0%;
    height: 100%;
    background-color: #777777;
}

.player-scrubber-progress {
    position: absolute;
    top 0;
    width: 0%;
    height: 100%;
    background-color: #EA8F00;
}

.player-scrubber-tracker {
    position: absolute;
    top 0;
    left: 0;
    width: 2px;
    height: 100%;
    background-color: #888888;
}

.player-scrubber-waveform {
    position: absolute;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    width: 100%;
    height: 100%;
}

.player-scrubber-default-waveform {
    position: absolute;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    width: 100%;
    height: 100%;
    background-image: url("../img/waveform-none.png");
}

.player-users {
    margin-left: 10px;
    display: inline-block;
    vertical-align: top;
    border-left: 2px solid #dddddd;
}

.player-user {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 15px;
}

.player-user .user-logo {
    margin: 0px auto;
    width: 60px;
    height: 45px;
}

.player-controls {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}

.player-expand {
    margin-top: 29px;
}

.player-component {
}

.playback-users {
    margin-bottom: 30px;
}

.playback-user p {
    text-align: center;
}

.playback-user.participant1 { 
    border: 3px solid #00AEEF;
    margin-bottom: 10px;
}

.playback-user.participant2 { 
    border: 3px solid #00A651;
    margin-bottom: 10px;
}

.playback-user .user-logo {
    margin: 0px auto;
    margin-top: 5px;
    width: 120px;
    height: 90px;
}

.playback-user p {
    margin-bottom: 0px;
}

.playback-tag {
    float: left;
    margin-right: 5px;
}

.playback-tag.participant1 {
    color: #00AEEF;
}

.playback-tag.participant2 {
    color: #00A651;
}

.playback-tag {
    float: left;
    margin-right: 5px;
    color: #00AEEF;
}

.playback-minute .player-btn {
    height: 30px;
    width: 30px;
    vertical-align: middle;
}

.playback-minute.description {
    font-size: 14px;
    line-height: 18px;
}

.playback-minute.level1 {
  margin-left: 0px;
}


.playback-minute.level2 {
  margin-left: 30px;
}


.playback-minute.level3 {
  margin-left: 60px;
}


.playback-minute.level4 {
  margin-left: 90px;
}

.playback-minute.level5 {
  margin-left: 120px;
}


.user-logo {
    background-image: url("../img/person.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}

.user-logo.speaking {
    background-image: url("../img/person-speaking.png");
}

.user-ID {
    padding-left: 130px;
}

.no-span-margin {
    margin-left: 0px;
}

.user-actions-container .user-logo {
    margin: 0px auto;
    margin-top: 25px;
    width: 120px;
    height: 90px;
}

.user-notes-container > * {
    margin-left: 20px;
}

.user-notes-save-status {
    color: #999999;
}

.user-position-prefs-container > [class^="span"] {
    margin-left: 0px;
}

.user-position-prefs-container a:hover {
    cursor: pointer;
}

.user-position-prefs-container .user-border {
    border: 1px solid #C03D2E;
    margin-bottom: 10px;
}

.user-position-prefs-container .well {
    padding: 5px;
    min-height: 90px;
    border-color: rgba(234,143,0,0.5);
    background-color: rgba(234, 143, 0, 0.05);
}

.user-position-prefs-well-text {
    line-height: 90px;
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
    text-align: center;
}

.user-section-border {
    border: 1px solid #E3E3E3;
}

.user-section-border-top {
    border-top: 1px solid #E3E3E3;
}

.user-section-border-bottom {
    border-bottom: 1px solid #E3E3E3;
}

.user-section-border-left {
    border-left: 1px solid #E3E3E3;
}

.user-section-border-right {
    border-right: 1px solid #E3E3E3;
}

.user-skills-container > div {
    display: inline-block;
    border: 1px solid #E3E3E3;
    border-radius: 4px 4px 4px 4px;
    margin-right: 5px;
    margin-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 16px;
    line-height: 36px;
}

.user-skill-years-text {
    font-size: 12px;
    line-height: 36px;
}

.user-skills-novice > div {
    background-color: #F2DEDE;
    border-color: #CA7C7A;
}

.user-skills-proficient > div {
    background-color: #D9EDF7;
    border-color: #1C4D83;
}

.user-skills-expert > div {
    background-color: #DFF0D8;
    border-color: #297339;
}

.user-skills-legend .novice {
    background-color: #F2DEDE;
}

.user-skills-legend .proficient {
    background-color: #D9EDF7;
}

.user-skills-legend .expert {
    background-color: #DFF0D8;
}

.user-skills-legend {
    display: inline;
}

.user-skills-legend > div {
    display: inline-block;
    border: 1px solid #E3E3E3;
    border-radius: 4px 4px 4px 4px;
    margin-right: 5px;
    padding: 3px 7px 3px 7px;
    color: rgb(104,104,104);
}

.user-skills-list-container > div {
    display: inline;
}

#chat-sessions > div {
    margin-bottom: 5px;
}

#chat-sessions .player-btn {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 5px;
}

.chat-title {
    font-size: 18px;
    line-height: 20px;
    font-weight: bold;
    margin-right: 5px;
    vertical-align: middle;
}

.chat-title-small {
    font-size: 14px;
    font-weight: normal;
    color: #999;
}
