
.hint-row {
    font-style: italic;
}

#job-notifications-header {
    margin-top: 20px;
}

#table th {
    vertical-align: middle;
}

#table td {
    vertical-align: middle;
}

#table select {
    margin-top: 1px;
    margin-bottom: 1px;
}