#selectable, #expertise, #experience  {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#selectable li, #expertise li, #experience li {
    font-size: 15px;
    height: 18px;
    margin: 3px;
    padding: 0.4em;
}

#selectable li {
    cursor: pointer;
}

#selectable .ui-selected {
    background: none repeat scroll 0 0 #F39814;
    color: white;
}

#table tr {
    cursor: pointer;
}

#table .ui-selected {
    background: none repeat scroll 0 0 #F39814;
    color: white;
}
