#selectable, #expertise, #experience  {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#selectable .ui-selected {
    background: none repeat scroll 0 0 #F39814;
    color: white;
}

#table tr {
    cursor: pointer;
}

#table .ui-selected {
    background: none repeat scroll 0 0 #F39814;
    color: white;
}

table#agenda-topic-table {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}

tr.selected-agenda-item{
    background: orange;
    color: white;
}