#landing-blue-stripe {
    height: 420px;
    background-color: #2A73A7;
    background-repeat: repeat-x;
}

#landing-blue-stripe-container {
    padding-top: 20px;
}

#landing-details-container {
    margin-top: 20px;
    margin-bottom: 0px;
}

#landing-signup-container {
    padding-top: 20px;
}


.landing-text-white {
    color: white;
}

.landing-text-offwhite {
    color: #eeeeee;
}

.landing-text-orange {
    color: #EA8F00;
}

.landing-brand-text {
    font-weight: bold;
    font-family: Arial;
    font-size: 65px;
    line-height: 1;
}

.landing-messaging-text {
    font-weight: bold;
    font-family: Arial;
    font-size: 38px;
    line-height: 45pt;
}

.landing-messaging-details-text {
    font-weight: lighter;
    font-family: Helvetica;
    font-size: 30px;
    line-height: 33pt;
}

.landing-signup-text {
    font-weight: bold;
    font-family: Arial;
    font-size: 45px;
}

.landing-signup-details-text {
    color: #999;
}

#landing-signup-button {
    font-size: 25px;
    padding-top: 18px;
    padding-bottom: 18px;
}

#landing-learn-more-button {
    margin-top: 10px;
    padding-left: 19px;
    padding-right: 19px;
}