#embedded-video-container {
    margin-right: 45px;
    margin-top: 20px;
}

#landing-banner {
    height: 360px;
}

#landing-lower-banner {
    margin-bottom: 60px;
}

#landing-details-container {
    margin-top: 20px;
    margin-bottom: 0px;
}


.landing-container {
    padding-top: 20px;
}

.landing-blue-stripe {
    background-color: #2A73A7;
    background-repeat: repeat-x;
}

.landing-gray-stripe {
    background-color: #F5F5F5;
    background-repeat: repeat-x;
}

.landing-text-white {
    color: white;
}

.landing-text-offwhite {
    color: #eeeeee;
}

.landing-text-orange {
    color: #EA8F00;
}

.landing-brand-text {
    font-weight: bold;
    font-family: Arial;
    font-size: 65px;
    line-height: 1;
}

.landing-messaging-text {
    font-weight: bold;
    font-family: Arial;
    font-size: 38px;
    line-height: 45pt;
}

.landing-messaging-details-text {
    font-weight: lighter;
    font-family: Helvetica;
    font-size: 30px;
    line-height: 33pt;
}

.landing-list li {
    list-style: none outside none;
    padding-top:5px;
    padding-bottom:5px;
    border-top: 2px;
    border-top-style: solid;
    border-top-color: #EA8F00;
}

.landing-social-links {
    margin-top: 10px;
    margin-left: 0px;
    list-style: none;
}

.landing-social-links > li {
    display: inline-block;
    vertical-align: top;
    margin-right: 15px;
}

.landing-social-links > li > a > img {
    margin-right: 5px;
    margin-bottom: 4px;
}

.landing-social-text {
    font-size: 12px;
    font-weight: bold;
}
