#landing-blue-stripe {
    height: 440px;
    background-color: #2A73A7;
    background-image: url(../img/landing-background-blue-stripe-only.png);
    background-repeat: no-repeat;
}



#landing-blue-stripe-top-right {
    padding-top: 45px;
    padding-left: 205px;
}

#landing-blue-stripe-middle {
    padding-top: 20px;
}

#landing-signup-container {
    padding-top: 20px;
}

#landing-messaging-container {
    margin-left: 50px;
    margin-right: 0px;
    margin-top: 15px;
    margin-bottom: 0px;
}

#landing-details-container {
    margin-left: 80px;
    margin-right: 0px;
    margin-top: 10px;
    margin-bottom: 0px;
}


.landing-text {
    color: white;
}

.landing-text-orange {
    color: #EA8F00;
}

.landing-brand-text {
    font-weight: bold;
    font-family: Arial;
    font-size: 65px;
    line-height: 1;
}

.landing-messaging-text {
    font-weight: bold;
    font-family: Arial;
    font-size: 41px;
    line-height: 45pt;
}

.landing-messaging-details-text {
    font-weight: lighter;
    font-family: Helvetica;
    font-size: 30px;
    line-height: 33pt;
}

.landing-signup-text {
    font-weight: bold;
    font-family: Arial;
    font-size: 45px;
}

.landing-signup-details-text {
    color: #999;
}



#landing-login-button:hover {
    color: #EA8F00;
    text-decoration: none;
}

#landing-signup-button {
    font-size: 25px;
    padding-top: 18px;
    padding-bottom: 18px;
}

#landing-learn-more-button {
    margin-top: 10px;
    padding-left: 19px;
    padding-right: 19px;
}