.chat-bubbles-background {
    height: 484px;
    background-image: url(../img/chat-bubbles.png);
    background-repeat: no-repeat;
    background-position: right top
}

#learn-more-signup-container {
    padding-top: 50px;
}

.learn-more-signup-text {
    font-weight: bold;
    font-family: Arial;
    font-size: 40px;
    line-height: 48pt;
}

.learn-more-signup-details-text {
    padding-top: 10px;
    padding-left: 30px;
    color: #999;
}

#learn-more-signup-button {
    font-size: 25px;
    margin-left: 10px;
    padding-top: 18px;
    padding-bottom: 18px;
}