<div class="arrow-container pull-left">
    <div>
        <span class="arrow up" rel="tooltip" title="Increase yrs experience">▲</span>
    </div>
    <div>
        <span class="arrow down" rel="tooltip" title="Decrease yrs experience">▼</span>
    </div>
</div>
<a class="close destroy">x</a>
<span class="wishlist-item-years-text wishlist-item-years-container" rel="tooltip" title="<%= model.yrs_experience%> yrs experience"><%= model.yrs_experience %></span>
<span rel="tooltip" title="<%= model.yrs_experience%> yrs experience"><%= model.technology.name %></span>