<div class="arrow-container pull-left">
    <div>
        <span class="arrow up">▲</span>
    </div>
    <div>
        <span class="arrow down">▼</span>
    </div>
</div>
<a class="close destroy">x</a>
<span class="wishlist-item-years-text wishlist-item-years-container" rel="tooltip" title="<%= model.yrs_experience > 1 ?  model.yrs_experience + ' yrs experience' : model.yrs_experience + ' yr experience'%>"><%= model.yrs_experience %></span>
<span rel="tooltip" title="<%= model.yrs_experience > 1 ?  model.yrs_experience + ' yrs experience' : model.yrs_experience + ' yr experience'%>"><%= model.technology.name %></span>