{% extends "navbar_authenticated.html" %}
{% load staticfiles %}
{% load url from future %}

{% block title %}Home | Tech Residents{% endblock %}

{% block extrahead %}
    <link href="{% static "css/home.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <script>
        var detectBrowser = function() {
            var result;
            var name = navigator.appName, userAgent = navigator.userAgent, tem;
            var match = userAgent.match(/(opera|chrome|safari|firefox|msie)\/?\s*(\.?\d+(\.\d+)*)/i);
            if(match && (tem = userAgent.match(/version\/([\.\d]+)/i))!= null) match[2]= tem[1];
            if(match) {
                result = {name: match[1], version: match[2] };
                } else {
                    result = {name: name, version: '?' };
                }
            return result;
        };

        var isCompatible = function(minVersions) {
            var result = false;
            var browser = detectBrowser();
            var name = browser.name.toLowerCase();
            if(minVersions.hasOwnProperty(name)) {
                if(parseFloat(browser.version) >= minVersions[name]) {
                    result = true;
                }
            }
            return result;
        };

        var compatible = isCompatible({
            'chrome': 11,
            'firefox': 3.6,
            'msie': 9,
            'opera': 11,
            'safari': 5
        });

        if(!compatible) {
            window.location = '/compat/';
        }
    </script>

    <div class="container">
        <div class="page-header">
            <h1>Welcome to Tech Residents</h1>
        </div>

        <div class="row employer-home-container">
            <div class="span4">
                <div class="well">
                    <h4>{{ full_name }}</h4>
                    <h4>{{ employer_name }}</h4>
                    {% if recommended_actions|length > 0 %}
                        <p>Recommended actions:</p>
                        <ul>
                        {% for action in recommended_actions %}
                            {% if action.category == 'requisition' %}
                                <li><p>Create a <a href="{{ action.link }}">requisition</a>. A requisition is required to score developers and extend interview offers.</p></li>
                            {% elif action.category == 'talent' %}
                                <li><p>Search for <a href="{{ action.link }}">talent</a></p></li>
                            {% endif %}
                        {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
            <div class="span8">
                <div class="well all-activities-container">

                    <div class="activity-header">
                        <h3>Announcements <small>New features, upcoming events</small></h3>
                    </div>

                    {% for date, announcement in announcements %}
                        <div class="well">
                            <div class="activity-container">
                                <p class="date">{{ date }}</p>
                                <p>{{ announcement }}</p>
                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>

    <script src="{% static "js/3ps/jquery/jquery-min.js" %}"></script>
    <script src="{% static "js/3ps/bootstrap/bootstrap-min.js" %}"></script>
    <script>
        $(document).ready(function(){
            $("[rel=tooltip]").tooltip();
        });
    </script>

{% endblock %}
