{% extends "navbar_authenticated.html" %}
{% load staticfiles %}
{% load url from future %}

{% block title %}Home | Tech Residents{% endblock %}

{% block extrahead %}
    <link href="{% static "css/home.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <script>
        var detectBrowser = function() {
            var result;
            var name = navigator.appName, userAgent = navigator.userAgent, tem;
            var match = userAgent.match(/(opera|chrome|safari|firefox|msie)\/?\s*(\.?\d+(\.\d+)*)/i);
            if(match && (tem = userAgent.match(/version\/([\.\d]+)/i))!= null) match[2]= tem[1];
            if(match) {
                result = {name: match[1], version: match[2] };
                } else {
                    result = {name: name, version: '?' };
                }
            return result;
        };

        var isCompatible = function(minVersions) {
            var result = false;
            var browser = detectBrowser();
            var name = browser.name.toLowerCase();
            if(minVersions.hasOwnProperty(name)) {
                if(parseFloat(browser.version) >= minVersions[name]) {
                    result = true;
                }
            }
            return result;
        };

        var compatible = isCompatible({
            'chrome': 11,
            'firefox': 3.6,
            'msie': 9,
            'opera': 11,
            'safari': 5
        });

        if(!compatible) {
            window.location = '/compat/';
        }
    </script>

    <div class="container employer-home-container">
        <div class="page-header">
            <h1>Welcome to Tech Residents</h1>
        </div>

        <div class="row">
            <div class="span12">
                <h3>Get Started <small>In 3 simple steps</small></h3>
            </div>
        </div>

        <div class="row steps-container">
            <div class="span3 offset1">
                <h4 class="blue">1. Create a Requisition</h4>
                <p>Job requisitions are required to score developers
                    for a position and extend interview offers. You can create
                    a requisition now, or you can skip ahead and come back to
                    this step later.</p>
                <a href="/e/requisition/create" class="btn btn-info">Create Requisition</a>
            </div>
            <div class="span3">
                <h4 class="orange">2. Search for Talent</h4>
                <p>While searching for talent you can take notes and
                    score candidates in the context of a job requisition.</p>
                <p>If you work within a team that will have an impact
                    on your hiring decision, we encourage each member of the
                    team to create an account so they can individually
                    score candidates and vote to extend an interview offer.<p>
                <a href="/e/search" class="btn btn-warning">Search Talent</a>
            </div>
            <div class="span3">
                <h4 class="green">3. Make an Offer</h4>
                <p>After you and your team have found a talented developer and
                    decided to move forward in the hiring process, extend them
                    an interview offer using our tools.</p>
            </div>
        </div>

    </div>

    <script src="{% static "js/3ps/jquery/jquery-min.js" %}"></script>
    <script src="{% static "js/3ps/bootstrap/bootstrap-min.js" %}"></script>
    <script>
        $(document).ready(function(){
            $("[rel=tooltip]").tooltip();
        });
    </script>

{% endblock %}
