<div class="btn-group">
    <button id="select-color-button" class="dropdown-toggle btn btn-primary btn-small" rel="tooltip" title="Marker Color" data-toggle="dropdown"> Blue  <span class="caret"></span></button>
    <ul class="dropdown-menu">
        <li><a id="black-btn" style="color: #000000">BK</a></li>
        <li><a id="red-btn" style="color: #FF0000">R</a></li>
        <li><a id="green-btn" style="color: #5BB75B">G</a></li>
        <li><a id="blue-btn" style="color: #0000FF">B</a></li>
    </ul>
</div>