<div class="btn-group">
    <button class="btn btn-primary dropdown-toggle" title="Marker Color" data-toggle="dropdown"> Blue  <span class="caret"></span></button>
    <ul class="dropdown-menu">
        <li><a id="whiteboard-black-marker-btn" style="color: #000000">Black</a></li>
        <li><a id="whiteboard-blue-marker-btn" style="color: #0000FF">Blue</a></li>
        <li><a id="whiteboard-green-marker-btn" style="color: #5BB75B">Green</a></li>
        <li><a id="whiteboard-red-marker-btn" style="color: #FF0000">Red</a></li>
    </ul>
</div>