{% extends "menu_base.html" %}
{% load url from future %}

{% block title %}Tech Residents - Create Chat{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="page-header">
            <h1>Create chat</h1>
        </div>
    </div>

    <div class="row">
        <div class="span12">
            <div class="well">
                {% if messages %}
                   {% for message in messages %}
                       {% if message.tags == 'success' %}
                            <div class="alert alert-success">
                                <span>{{message}}</span>
                           </div>
                       {% endif %}
                   {% endfor %}
                {% else %}
                    <form class="form-horizontal" method="post" action="{% url 'chat.views.create' %}">
                        {% csrf_token %}

                        <fieldset>
                            {% for field in form %}
                                <div class="control-group{% if field.errors %} error{% endif %}">
                                    {{ field.label_tag }}
                                    <div class="controls">
                                        {{ field }}
                                        {% for error in field.errors %}
                                            <span class="help-inline">{{error}}</span>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endfor %}
                            
                            <div class="control-group">
                                <div class="controls">
                                    {% if user_form.non_field_errors %}
                                        <div class="alert-message alert-error">
                                            {% for error in form.non_field_errors%}
                                                <span>{{error}}</span>
                                            {% endfor %}
                                    {% endif %}
                                </div>
                            </div>

                            <div class="control-group">
                                <div class="controls">
                                    <input type="submit" value="Submit" class="btn btn-primary" />
                                    <label class="checkbox inline">
                                        {{ form.remember_me }}
                                        {{ form.remember_me.label }}
                                    </label>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                {% endif %}                    
            </div>
        </div>
    </div>

{% endblock %}
