{% extends "menu_base.html" %}
{% load staticfiles %}
{% load url from future %}

{% block title %}Tech Residents - Chat Details{% endblock %}

{% block extrahead %}
    <link href="{% static "css/chat_details.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}

    <div class="container">

        <div class="page-header">
            <h1>
                {{ chat.topic.title }}

                <small>
                    {{ chat.start|date:"m/d e" }} at {{ chat.start|date:"h:i a e" }}
                </small>
            </h1>
        </div>

        <div id="chat-details" class="row">
            <div class="span6">

                {% for topic in topic_tree %}

                    <h2 class="level{{ topic.level }}">
                        {{ topic.title }}
                        <small>({{topic.duration}} mins)</small>
                    </h2>

                    {% if forloop.first %}
                        <p class="description">
                            {{ topic.description }}
                        </p>
                    {% endif %}

                {% endfor %}
            </div>
            <div class="span4 offset1 well">
                {% if not is_registered %}
                    {% if chat.registration_open %}
                        <h2>Registration is Open</h2>
                        <a class="btn btn-primary" href={%url 'chat.views.register' encoded_chat_id=encoded_chat_id%}>Register</a>
                    {% elif chat.registration_closed %}
                        <h2>Registration Closed</h2>
                    {% else %}
                        <h2>Registration Opens at...</h2>
                    {% endif %}
                {% else %}
                    {% if is_checked_in %}
                        <h2>Join the Conversation</h2>
                        <a class="btn btn-primary" href={%url 'chat.views.checkin' encoded_chat_id=encoded_chat_id%}>Join Chat</a>
                    {% elif chat.checkin_open %}
                        <h2>Check-In Now</h2>
                        <a class="btn btn-primary" href={%url 'chat.views.checkin' encoded_chat_id=encoded_chat_id%}>Check-in</a>
                    {% elif chat.checkin_closed %}
                        <h2>Check-In Closed</h2>
                    {% else %}
                        <h2>Check-In Opens at...</h2>
                    {% endif %}
                {% endif %}
            </div>
        </div>

    </div>

{% endblock %}