{% extends "navbar_authenticated.html" %}
{% load staticfiles %}
{% load url from future %}

{% block title %}Chat Details | Tech Residents{% endblock %}

{% block extrahead %}
    <link href="{% static "css/chat_details.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}

    <div class="container">

        <div class="page-header">
            <h1>
                Chat Details
            </h1>
        </div>

        <div id="chat-details" class="row">
            <div class="span6">
                {% for topic in topic_tree %}
                    {% if forloop.first %}
                        <h2 class="level{{ topic.level }}">
                            {{ topic.title }}
                            <small>({{topic.duration}} mins)</small>
                        </h2>
                    {% else %}
                        <h3 class="level{{ topic.level }}">
                            {{ topic.title }}
                            <small>({{topic.duration}} mins)</small>
                        </h3>
                    {% endif %}
                    <p class="description level{{ topic.level }}">
                        {{ topic.description }}
                    </p>
                {% endfor %}
            </div>

            <div class="span4 offset1 well">
                <h2>
                    {{ chat.topic.title }}
                </h2>
                <h2>
                    <small>
                        {{ chat.start|date:"m/d" }} at {{ chat.start|date:"h:i a e" }}
                    </small>
                </h2>

                {% if not is_registered %}
                    {% if chat.registration_open %}
                        <a class="btn btn-large btn-primary" href={%url 'chat.views.register' encoded_chat_id=encoded_chat_id%}>Register</a>
                    {% elif chat.registration_closed %}
                        <h4><em>Registration Closed</em></h4>
                    {% else %}
                        <h3>
                            <em>
                                Registration opens <br>
                                {{ chat.registration_start|date:"m/d e" }} at {{ chat.registration_start|date:"h:i a e" }}
                            </em>
                        </h3>
                    {% endif %}
                {% else %}
                    {% if is_checked_in %}
                        <a class="btn btn-large btn-primary" href={%url 'chat.views.wait' encoded_chat_id=encoded_chat_id%}>Join Chat</a>
                    {% elif chat.checkin_open %}
                        <a class="btn btn-large btn-primary" href={%url 'chat.views.checkin' encoded_chat_id=encoded_chat_id%}>Check-in</a>
                    {% elif chat.checkin_closed %}
                        <h4><em>Check-In Closed</em></h4>
                    {% else %}
                        <h4>
                            <em>
                                Check-In opens <br>
                                {{ chat.checkin_start|date:"m/d e" }} at {{ chat.checkin_start|date:"h:i a e" }}
                            </em>
                        </h4>
                    {% endif %}
                {% endif %}
            </div>

        </div>

    </div>

{% endblock %}