{% extends "menu_base.html" %}
{% load staticfiles %}
{% load url from future %}

{% block title %}Tech Residents - Chat Details{% endblock %}

{% block extrahead %}
    <link href="{% static "css/chat_details.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}

    <div class="container">

        <div class="page-header">
            <h1> Chat Details </h1>
        </div>

        <div id="chat-details" class="row">
            <div class="span7">

                {% for topic in topic_tree %}

                    {% if forloop.first %}
                        <h2 class="level{{ topic.level }}">
                            {{ topic.title }}
                            <small>({{topic.duration}} mins)</small>
                        </h2>
                        <p class="description">
                            {{ topic.description }}
                        </p>
                    {% else %}
                        <h3 class="level{{ topic.level }}">
                            {{ topic.title }}
                            <small>({{topic.duration}} mins)</small>
                        </h3>
                    {% endif %}

                {% endfor %}

            </div>
        </div>

    </div>

{% endblock %}