{% extends "menu_base.html" %}
{% load staticfiles %}
{% load url from future %}

{% block title %}Tech Residents - Chat Home{% endblock %}

{% block extrahead %}
    <link href="{% static "css/chat_home.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}

    <div class="container">

        <div class="page-header">
            <h1> Chats </h1>
        </div>

        <div class="row">
            <div class="span7">
                <h2>Registered Chats</h2>

                <div class="well">

                    <table class="table">
                        <thead>
                            <tr>
                                <th>Duration</th>
                                <th>Title</th>
                                <th>Start Time</th>
                                <th>Check-in</th>
                            </tr>
                        </thead>
                        <tbody>

                            {% for registered_chat in registered_chats %}
                                <tr>
                                    <td>{{registered_chat.duration}} mins</td>
                                    <td>
                                        <a href={%url 'chat.views.session' encoded_chat_session_id=registered_chat.id%}>
                                            {{registered_chat.topic.title}}
                                        </a>
                                    </td>
                                    <td> {{registered_chat.start_date}} at {{registered_chat.start_time}}</td>
                                    <td><a class="btn btn-small btn-primary" href={%url 'chat.views.checkin' encoded_chat_id=registered_chat.id%}>Check-in</a></td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td> <em>{{ no_registered_chats_msg }}</em> </td>
                                </tr>
                            {%endfor %}

                        </tbody>
                    </table>

                </div>
            </div>
        </div>

{% endblock %}