{% extends "menu_base.html" %}

{% load url from future %}
{% load verbatim %}

{% block title %}tech residents{% endblock %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h1> Chats </h1>
    </div>

    <div class="row">
        <div class="span16">
            <ul>
                {% for chat_session in chat_sessions %}
                    <li><a href={%url 'chat.views.chat' chat_session_id=chat_session.id%}>{{chat_session.start}}</a></li>
                {%endfor %}
            </ul>
        </div/>
    </div>
</div>


{% endblock %}
