<div class="main-content">
    <div class="container" id="content">

        <div class="page-header">
        </div>

        <div class="row">
            <div class="span10">
                <p class="alert alert-info lead">Only the audio from chats in your highlight reel are made available to employers.</p>
            </div>
        </div>

        <div class="row">
            <div id="chat_sessions" class="span4 reel-chat-history-container"></div>
            <div id="highlight_sessions" class="span6"></div>
        </div>

    </div>
</div>
