<div class="main-content">
    <div class="container reel-container" id="content">

        <div class="row">
            <div class="span10">
                <p class="alert alert-info lead">Employers can only access the <b><em>audio</em></b> from chats in your highlight reel.</p>
            </div>
        </div>

        <div class="row">
            <div id="chat_sessions" class="span4 reel-chat-history-container"></div>
            <div id="highlight_sessions" class="span6"></div>
        </div>

    </div>
</div>
