#chat-details .level1 {
    margin-left: 20px;
}

#chat-details .level2 {
    margin-left: 40px;
}

#chat-details .level3 {
    margin-left: 60px;
}

#chat-details .level4 {
    margin-left: 80px;
}

#chat-details .level5 {
    margin-left: 100px;
}