
.home-orange-text {
    color: #EA8F00;
}
.topic-container {
    border-bottom: 1px;
    border-bottom-style: solid;
    border-bottom-color: #EA8F00;
}
.topic-description {
    margin-left: 30px;
}

.chat-table {
    table-layout: fixed;
}

.chat-table-duration {
    width: 10%;
}

.chat-table-title {
    width: 20%;
}

.chat-table-description {
    width: 30%;
}

.chat-table-date {
    width: 20%;
}

.chat-table-button {
    width: 20%;
}

