<div class="rating-star-label"><%= label %></div>
<div class="rating-stars">
    <div class="clear-rating"><i class="icon-ban-circle"></i></div><% _.each(stars, function(star) { %><div class="rating-star">
        <% if (star.lit) { %>
        <div class="rating-star-background rating-star-on <%= star.starID %>" style="width:<%= star.percentage %>%;"></div>
        <div class="rating-star-image"></div>
        <% } else { %>
        <div class="rating-star-background <%= star.starID %>" style="width: 100%;"></div>
        <div class="rating-star-image"></div>
    <% } %></div><% }); %>
</div>