.content {
    padding-top: 10px;
}

.menu-content {
    padding-top: 40px;
}

.banner-content {
    padding-top: 25px;
}

.banner {
    background-image: url(../img/banner.png);
    background-repeat: repeat-x;
}

.banner-control-group label {
        color: #EEEEEE;
}

.navbar .brand {
    padding-right: 10px;
}

.brand-beta {
    float: left;
    display: block;
    padding-top: 15px;
    font-size: 15px;
    font-weight: 100;
    line-height: 1;
    color: #EA8F00;
}

.brand-beta:hover {
    color: #EA8F00;
    text-decoration: none;
}

.close-inline {
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    line-height: 15px;
    opacity: 0.2;
    text-shadow: 0 1px 0 #FFFFFF;
}

.close-inline:hover {
    color: #000000;
    cursor: pointer;
    opacity: 0.4;
    text-decoration: none;
}

.logo {
    display: block;
    height: 120px;
    width: 700px;
    background-image: url(../img/logo.png);
}

.logo-small {
    display: block;
    height: 25px;
    width: 26px;
    background-image: url(../img/logo-25x25.png);
}

.logo-brand {
    float: left;
    padding: 10px 10px 5px 1px;
}

.marketing p {
    font-size: 18px;
}

/* TODO see if needed */
.btn-input {
    margin-bottom: 9px;
}

.btn-tiny {
    font-size: 13px;
    line-height: 16px;
    padding: 2px 4px;
}

.footer {
    border-top: 1px solid #E5E5E5;
    margin-top: 45px;
    padding: 35px 0 36px;
}

.footer span {
    color: #555555;
    margin-bottom: 0;
}

[class^="tr-icon-"] {
    display: inline-block;
    width: 14px;
    height: 14px;
    vertical-align: text-top;
    background-image: url(../img/techresidents-icons.png);
    background-position: 14px 14px;
    background-repeat: no-repeat;
    *margin-right: .3em;
}

[class^="tr-icon-"]:last-child {
    *margin-left: 0;
}

.tr-icon-square {
    background-position: 0      0;
}
.tr-icon-circle {
    background-position: -24px 0;
}

.tr-icon-erase {
    background-position: -48px 0;
}
