html {
    overflow-y: scroll;
    height: 100%;
}

body {
    height: 100%;
}

/* fix scroll position for anchor points */
a[name] {
    padding-top: 45px;
    margin-top: -45px;
    display: inline-block;
}
.content {
    padding-top: 10px;
}

.banner-content {
    padding-top: 25px;
}

.banner-logo {
    display: block;
    height: 120px;
    width: 700px;
    background-image: url(../img/banner.png);
}

.banner-stripe {
    background-image: url(../img/banner-stripe.png);
    background-repeat: repeat-x;
}

.banner-control-group label {
        color: #EEEEEE;
}

.brand-beta {
    float: left;
    display: block;
    padding-top: 15px;
    padding-right: 45px;
    font-size: 15px;
    font-weight: 200;
    line-height: 1;
    color: #EA8F00;
}

.brand-beta:hover {
    color: #EA8F00;
    text-decoration: none;
}

.btn-input {
    margin-bottom: 2px;
}

.btn-tiny {
    font-size: 13px;
    line-height: 16px;
    padding: 2px 4px;
}

.close-inline {
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    line-height: 15px;
    opacity: 0.2;
    text-shadow: 0 1px 0 #FFFFFF;
}

.close-inline:hover {
    color: #000000;
    cursor: pointer;
    opacity: 0.4;
    text-decoration: none;
}

.footer {
    color: #f7f7f7;
    background-color: #363636;
    position: relative;
}

.footer ul {
    margin: 0;
}

.footer-inner {
    margin-top: 40px;
}

.footer-icons {
    display: inline-block;
    list-style: none;
    position: absolute;
}

.footer-icons li {
    display: inline-block;
    position: relative;
    width: 50px;
    height: 50px;
}

.footer-icons a {
    position: absolute;
    background-color: #e5e5e5;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    top: -25px;
}

.footer-icons a:hover {
    text-decoration: none;
}

.footer-icons a:hover i {
    color: #EA8F00;
}

.footer-icons i {
    width: 30px;
    height: 30px;
    position: absolute;
    font-size: 30px;
    color: #555555;
    top: 50%;
    left: 50%;
    margin: -15px 0 0 -15px;
}

.footer .logo-small {
    display: inline-block;
}

.footer-links {
    list-style: none;
}

.footer-links a {
    color: #f7f7f7;
}

.footer-links a:hover {
    color: #EA8F00;
}

.footer h2 {
    font-weight: normal;
    margin: 0;
}

.footer p {
    margin-bottom: 0;
}

.footer-bottom {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    border-top: 1px solid #555555;
}

.list-scroll {
    clear: both;
    max-height: 270px;
    overflow-x: hidden;
    overflow-y: auto;
}

.logo-small {
    display: block;
    height: 25px;
    width: 26px;
    background-image: url(../img/logo-25x25.png);
}

.logo-brand {
    float: left;
    padding: 10px 10px 5px 1px;
}

.marketing p {
    font-size: 18px;
}

.menu-content {
    padding-top: 45px;
}

/* webkit navbar re-render fix */
.affix,.navbar-fixed-top{
    -webkit-transform: scale3d(1,1,1);
}

.navbar .brand {
    padding-right: 10px;
}

.page-content {
    padding-top: 45px;
    min-height: 100%;
    /*min-height: calc(100% - 45px);*/
}

.main-content {
}

.normal-font {
    font-weight: normal;
}

.nowrap {
    white-space: nowrap;
}

.orange-text {
    color: #EA8F00;
}

.text-justify {
    text-align: justify;
}

.read-horizontal-form .read-form-group {
    margin-bottom: 10px;
}

.read-form-horizontal .read-form-group:before,
.read-horizontal-form .read-form-group:after {
    display: table;
    line-height: 0;
    content: "";
}

.read-horizontal-form .read-form-group:after {
    clear: both;
}

.read-horizontal-form .read-form-label {
    float: left;
    width: 170px;
    text-align: right;
    font-weight: bold;
}

.read-horizontal-form .read-form-values {
    margin-left: 190px;
}

.section-header {
    margin-bottom: 20px;
}

.section-header > span {
    display: block;
    font-size: 24px;
    line-height: 40px;
    margin: 10px 0;
    font-weight: bold;
    text-rendering: optimizelegibility;
    border-bottom: 1px solid #AAAAAA;
}

.section-header > span small {
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    color: #999999;
}

[class^="tr-icon-"] {
    display: inline-block;
    width: 14px;
    height: 14px;
    vertical-align: text-top;
    background-image: url(../img/techresidents-icons.png);
    background-position: 14px 14px;
    background-repeat: no-repeat;
    *margin-right: .3em;
}

[class^="tr-icon-"]:last-child {
    *margin-left: 0;
}

.tr-icon-square {
    background-position: 0      0;
}
.tr-icon-circle {
    background-position: -24px 0;
}

.tr-icon-erase {
    background-position: -48px 0;
}


.grid-table  {
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

.grid-table thead th {
    vertical-align: bottom;
}

.grid-table th {
    font-weight: bold;
}

.grid-table th, .grid-table td {
    border-top: 1px solid #DDDDDD;
    line-height: 26px;
    padding: 3px;
    text-align: left;
    vertical-align: top;
}

.grid-table thead tr:first-child th, thead tr:first-child td {
    border-top: 0 none;
}

.grid-header-cell-sort {
    cursor: pointer;
}

.grid-header-cell-sort-asc .grid-sort-arrow {
    display: inline-block;
    border-bottom: 5px solid #000000;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    margin-bottom: 3px;
}

.grid-header-cell-sort-desc .grid-sort-arrow {
    display: inline-block;
    border-top: 5px solid #000000;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    margin-bottom: 3px;
}

.grid-header-cell-sort-asc, .grid-header-cell-sort-desc, 
.grid-header-cell-sort.grid-header-cell-sort-asc:hover,
.grid-header-cell-sort.grid-header-cell-sort-desc:hover {
    background-color: #DDDDDD;
}

.grid-header-cell-sort:hover {
    background-color: #EEEEEE;
}

.grid-action-cell {
    width: 30px;
}
.grid-action-cell-inner{
    position: relative;
    display: none;
}

.grid-action-cell-inner .btn-mini {
    padding: 2px 4px;
}

.grid-row:hover {
    background-color: #EEEEEE;
}

.grid-row:hover .grid-action-cell-inner {
    display: block;
}

.grid-action-cell-inner:hover {
    display: block;

}

.grid-hover-cell {
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    margin: 2px 0 0;
    min-width: 160px;
    padding: 5px 5px;
}

.drop-absolute {
    position: absolute;
}

.drop-inner {
    position: relative;
}

.drop-inner .drop-content {
    position: absolute;
    display: none;
    float: left;
    left: 0;
    top: 100%;
    z-index: 1000;

    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    margin: 2px 0 0;
    min-width: 160px;
    padding: 5px 5px;
}

.drop-open > .drop-content {
    display: block;
}

button.drop-button .caret {
    margin-left: 2px;
}

.menu ul {
    list-style: none outside none;
    margin: 0px;
}

.menu li > a {
    clear: both;
    color: #333333;
    display: block;
    font-weight: normal;
    line-height: 20px;
    padding: 3px 20px;
    white-space: nowrap;
}

.menu li > a:hover, .menu li a:focus {
    background-color: #0081C2;
    color: #FFFFFF;
    text-decoration: none;
}

.menu-divider {
    background-color: #E5E5E5;
    border-bottom: 1px solid #FFFFFF;
    height: 1px;
    margin: 9px 1px;
    overflow: hidden;
}

.select ul, .multi-select ul {
    list-style: none;
    margin: 0px;
}

.select li, .multi-select li {
    font-weight: normal;
    line-height: 20px;
    padding: 3px 15px;
}

.select ul:hover {
    cursor: pointer;
}

.multi-select li label {
    margin: 0px;
}

.select li.highlighted {
    background-color: #EEEEEE;
}

.auto-multi-select ul {
    list-style: none;
}

.auto-multi-select input[type="checkbox"] {
    margin: 0 3px 0 0;
}

.auto-multi-seleect .search {
    margin-top: 5px;
}

.auto-multi-select li.divider {
    background-color: #E5E5E5;
    border-bottom: 1px solid #FFFFFF;
    height: 1px;
    margin: 9px 1px;
    overflow: hidden;
}

.multi-select input[type="checkbox"] {
    margin: 0 3px 0 0;
}

.filters.horizontal {
    margin-bottom: 10px;
}

.filters.horizontal .filter-factory, .filter, .filter .btn-group {
    display: inline-block;
}

.filter-factory {
    margin-bottom: 5px;
    margin-right: 5px;
}

.filter {
    margin-bottom: 5px;
    margin-right: 5px;
}

.filter-wrap-name {
    color: #777777;
}

.filter-wrap {
    display: inline-block;
    line-height: 15px;
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    white-space: nowrap;
}

.date-month td, th {
    cursor: pointer;
    border-radius: 4px;
    text-align: center;
    width: 20px;
    height: 20px;
    padding: 2px 5px;
}

.date-month td:hover {
    background-color: #EEEEEE;
}

.date-month td.selected {
    color: #FFFFFF;
    background-color: #006DCC;
}

.date-month td.selected:hover {
    color: #FFFFFF;
    background-color: #006DCC;
}

.date-month td.leftover {
    color: #888888;
}

.date-month .next, .prev {
    font-size: 20px;
}

.date-month .next:hover, .prev:hover {
    background-color: #EEEEEE;
}

.date-range .form-inline {
    margin: 0 0 5px;
}

.date-range .form-inline input[type="radio"] {
    margin-bottom: 8px;
    margin-right: 8px;
}

.rating-star-label {
    display: inline-block;
    width: 40px;
    text-align: right;
}

.rating-stars {
    cursor: pointer;
    display: inline;
}

.rating-stars > .clear-rating {
    display: inline-block;
    height: 16px;
    width: 16px;
}

.rating-stars > .clear-rating > i {
    vertical-align: text-bottom;
}

.rating-stars > .rating-star {
    display: inline-block;
    height: 16px;
    width: 16px;
    position: relative;
    vertical-align: text-bottom;
}

.rating-star-image {
    position: absolute;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    width: 100%;
    height: 100%;
    background-image: url("../img/star_fg_well.png");
}

.rating-star-background {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #8d8d8d;
}

.rating-star-on {
    background-color: #EA8F00;
}

.rating-star-hover {
    background-color: #EA8F00;
}

.multi-autocomplete {
    overflow: hidden;
    border: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    line-height: 25px;
    cursor: text;
    min-height: 48px;
}

.multi-autocomplete > div {
    display: inline-block;
    cursor: default;
    margin: 5px;
}

.multi-autocomplete > .autocomplete {
    display: block;
}

.multi-autocomplete.focus {
    border-color: rgba(82, 168, 236, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
    outline: 0 none;
}

.multi-autocomplete .multi-autocomplete-input,
.multi-autocomplete .multi-autocomplete-input:focus {
    border: 0px;
    margin: 0 0 0 4px;
    padding: 0px;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.075) inset;
    min-width: 200px;
}

.multi-autocomplete-item {
    padding: 3px;
    border: 1px solid rgb(223, 150, 70);
    border-radius: 6px 6px 6px 6px;
    background-color: rgb(255, 242, 224);
}

.multi-autocomplete-item .close {
    float: none;
    vertical-align: text-bottom;
    margin-left: 3px;
}

.loader {
    margin: 0 auto;
    height: 1px;
    width: 1px;
}

.facets {
    list-style: none;
    margin: 0px;
}

.facet {
    border-bottom: 1px solid #dddddd;
    font-size: 14px;
    font-weight: bold;
}

.facet .header {
    cursor: pointer;
    padding: 10px 10px 10px 10px;
}

.facet .header:hover {
    background-color: #EEEEEE;
}

.facet.facet-open .facet-items {
    display: block;
}

.facet.facet-open .arrow {
    float: right;
    border-top: 0px;
    border-bottom: 5px solid #000000;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    margin-top: 6px;
}

.facet .arrow {
    float: right;
    border-top: 5px solid #000000;
    border-bottom: 0px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    margin-top: 6px;
}

.facet-items ul {
    list-style: none;
    margin: 0px;
}

.facet-items {
    display: none;
}

.facet-item label {
    cursor: pointer;
}

.facet-item .name {
    display: inline-block;
    vertical-align: middle;
    max-width: 150px;
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.facet-item .count {
    font-size: 12px;
    font-weight: normal;
    line-height: 14px;
    margin-top: 3px;
    margin-left: 2px;
    margin-right: 20px;
}

.auto-facet .auto-controls {
    display: none;
    font-weight: normal;
}

.auto-facet.facet-open .auto-controls {
    display: block;
    margin-bottom: 10px;
}

.auto-facet .auto-facet-input {
    display: none;
}

.auto-facet.show-auto .auto-facet-input {
    display: block;
}

.auto-facet.show-auto .add {
    display: none;
}

.scroller {
    overflow: hidden;
}
.scroller:hover {
    overflow: auto;
}

.form button.disabled {
    cursor: not-allowed;
}
