{% extends "navbar_unauthenticated.html" %}
{% load url from future %}

{% block title %}Forgot Password | Tech Residents{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="span12 page-header">
            <h2>
                Forgot your password?
            </h2>
        </div>

        <div class="span10">
            <div class="well">
                {% if success %}
                    <div class="alert alert-success">
                        <span>You will receive an email from Tech Residents in a few minutes containing a link to reset your password.</span>
                    </div>
                {% else %}
                    <form class="form-horizontal" method="post" action="{% url 'accounts.views.forgot_password' %}">
                        {% csrf_token %}
                        <fieldset>
                            {% for field in form %}
                                <div class="control-group{% if field.errors %} error{% endif %}">
                                    <label class="control-label">{{ field.label_tag }}</label>
                                    <div class="controls">
                                        {{ field }}
                                        {% for error in field.errors %}
                                            <span class="help-inline">{{error}}</span>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endfor %}

                            <div class="control-group">
                                <div class="controls">
                                    <input type="submit" value="Submit" class="btn btn-primary" />
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="controls">
                                    {% if form.non_field_errors %}
                                        <div class="alert alert-error">
                                            {% for error in form.non_field_errors%}
                                                <span>{{error}}</span>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </fieldset>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
