{% extends "base.html" %}
{% load url from future %}

{% block title %}tech residents{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="span6">
            <h1>Tech Residents</h1>
        </div/>

        <div class="span6">
            <form class="form-horizontal" method="post" action="{% url 'accounts.views.login' %}">
                {% csrf_token %}
                <div class="control-group{% if form.username.errors %} error{% endif %}">
                    {{ form.username.label_tag }}
                    <div class="controls">
                        {{ form.username }}
                        {% for error in form.username.errors %}
                            <span class="help-inline">{{error}}</span>
                        {% endfor %}
                    </div>
                </div>
                <div class="control-group{% if form.password.errors%} error{% endif %}">
                    {{ form.password.label_tag }}
                    <div class="controls">
                        {{ form.password }}
                        {% for error in form.password.errors %}
                            <span class="help-inline">{{error}}</span>
                        {% endfor %}
                    </div>
                </div>

                <input type="hidden" name="next" value="{{next}}"/>
                
                <div class="controls">
                    <input type="submit" value="Login" class="btn btn-primary inline" />
                    <label class="checkbox inline">
                        {{ form.remember_me }}
                        {{ form.remember_me.label }}
                    </label>
                </div>

                    {% if form.non_field_errors %}
                        <div class="controls alert alert-error">
                            {% for error in form.non_field_errors%}
                                <span>{{error}}</span>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
