{% extends "base.html" %}
{% load url from future %}

{% block title %}tech residents{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="span9">
            <h1>Tech Residents</h1>
        </div/>

        <div class="span7">
            <form method="post" action="{% url 'accounts.views.login' %}">
                {% csrf_token %}
                <div class="clearfix{% if form.username.errors %} error{% endif %}">
                    {{ form.username.label_tag }}
                    <div class="input">
                        {{ form.username }}
                        {% for error in form.username.errors %}
                            <span class="help-inline">{{error}}</span>
                        {% endfor %}
                    </div>
                </div>
                <div class="clearfix{% if form.password.errors%} error{% endif %}">
                    {{ form.password.label_tag }}
                    <div class="input">
                        {{ form.password }}
                        {% for error in form.password.errors %}
                            <span class="help-inline">{{error}}</span>
                        {% endfor %}
                    </div>
                </div>

                <input type="hidden" name="next" value="{{next}}"/>

                <div class="input">
                    <input type="submit" value="Login" class="btn primary pull-left" />
                    <label>
                        {{ form.remember_me }} <span>{{ form.remember_me.label }}</span>
                    </label>

                    {% if form.non_field_errors %}
                        <div class="alert-message block-message error">
                            {% for error in form.non_field_errors%}
                                <span>{{error}}</span>
                            {% endfor %}
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
