{% load url from future %}

<!--Navigation panel content-->
<div class="span3">
    <div class="well">
        <ul class="nav nav-list">
            <li class="nav-header">Account</li>
            <li><a href="{% url 'accounts.views.profile_account' %}"><i class="icon-user"></i>Account</a></li>
            <li><a href="{% url 'accounts.views.profile_password' %}"><i class="icon-lock"></i>Password</a></li>
            <li><a href="{% url 'accounts.views.profile_chats' %}"><i class="icon-info-sign"></i>Chats</a></li>
            <li><a href="{% url 'accounts.views.profile_jobs' %}"><i class="icon-road"></i>Jobs</a></li>

            <li class="nav-header">Technology</li>
            <ul class="nav nav-list">
                <li><a href="{% url 'accounts.views.profile_skills_languages' %}">Languages</a></li>
                <li><a href="{% url 'accounts.views.profile_skills_frameworks' %}">Frameworks</a></li>
                <li><a href="#">Persistence</a></li>
            </ul>
        </ul>
    </div>

    <div class="well">

    </div>
</div> <!-- end span3 -->