{% extends "menu_base.html" %}
{% load url from future %}
{% load verbatim %}
{% load widget_filters %}

{% block title %}Profile{% endblock %}

{% block extrahead %}
    <script src="{{STATIC_URL}}js/3ps/jquery/jquery.js"></script>
    <script src="{{STATIC_URL}}js/3ps/bootstrap/bootstrap.js"></script>
    <script>
        var require = {
            baseUrl: '/static/js',
        };
    </script>
    <script data-main="{{STATIC_URL}}js/apps/profile/main.js" src="{{STATIC_URL}}js/3ps/require/require.js"></script>
{%endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="page-header">
                <h1>Profile</h1>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">

            {% include 'accounts/navigation_panel.html' %}

            <div class="span9">
                <form id="profile-jobs-form" class="form-horizontal well" method="post" action="{% url 'accounts.views.profile_jobs' %}">
                    {% csrf_token %}
                    <fieldset>
                        <legend>Change your job preferences</legend>

                        <div class="control-group {% if form.email_new_job_opps.errors %}error{% endif %}">
                            <label class="control-label">Job Notifications</label>
                            <div class="controls">
                                <label class="checkbox">
                                    {{ form.email_new_job_opps }} {{ form.email_new_job_opps.label }}
                                    {% for error in form.email_new_job_opps.errors %}
                                        <span class="help-inline">{{error}}</span>
                                    {% endfor %}
                                </label>
                            </div>
                        </div>

                        <div class="control-group {% if form.positions.errors %}error{% endif %}">
                            {{ form.positions.label_tag }}
                            <div class="controls">
                                <div id="position-add" class="input-append">
                                    {{ form.positions }}
                                    <button id="position-add-button" class="btn">Add</button>
                                    {% for error in form.positions.errors %}
                                        <span class="help-inline">{{error}}</span>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label"></label>
                            <ul id="positions-list" class="controls">

                            </ul>
                        </div>


                        <!-- Hidden field inputs -->
                        <input id="positions-form-input" type="hidden" name="positions_form_data"/>

                        <div class="control-group">
                            <div class="controls">
                                <button type="submit" class="btn-primary">Save changes</button>
                            </div>
                        </div>

                    </fieldset>


                    {% if messages %}
                        {% for message in messages %}
                            <!-- Consume all messages stored -->
                            {% if message.tags == 'success' %}
                                <div class="alert alert-success">
                                    <span>{{ message }}</span>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}

                </form>
            </div> <!-- end span9 -->

        </div>
    </div>

    <!-- TODO: add proper escapejs filter that works with json -->
    {% autoescape off %}
    <script>
        var data = [{'name':'Developer'}];
        var app = {'name':'jobs'}
    </script>
    {% endautoescape %}

    <!-- Templates -->
    <script type="text/template" id="position-item-template">
        <%= name %>
    </script>

{% endblock %}