{% extends "menu_base.html" %}
{% load url from future %}

{% block title %}Profile{% endblock %}

{% block extrahead %}
    <link href="{{STATIC_URL}}css/profile.css" rel="stylesheet">
{%endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="page-header">
                <h1>Profile</h1>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">

            <!--Sidebar content-->
            <div class="span3">
                <div class="well">
                    <ul class="nav nav-list">
                        <li class="nav-header">Account</li>
                        <li><a href="{% url 'accounts.views.profile_account' %}"><i class="icon-user"></i>Account</a></li>
                        <li><a href="{% url 'accounts.views.profile_password' %}"><i class="icon-lock"></i>Password</a></li>
                        <li class="active"><a href="#"><i class="icon-info-sign icon-white"></i>Chats</a></li>
                        <li><a href="{% url 'accounts.views.profile_jobs' %}"><i class="icon-road"></i>Jobs</a></li>

                        <li class="nav-header">Technology</li>
                        <ul class="nav nav-list">
                            <li><a href="#">Programming</a></li>
                            <li><a href="#">Frameworks</a></li>
                            <li><a href="#">Persistence</a></li>
                        </ul>
                    </ul>
                </div>

                <div class="well">

                </div>
            </div> <!-- end span3 -->

            <div class="span9">
                <form class="form-horizontal well" method="post" action="{% url 'accounts.views.profile_chats' %}">
                    {% csrf_token %}
                    <fieldset>
                        <legend>Change your Chat settings</legend>

                        {% for field in form %}
                            <div class="control-group {% if field.errors %}error{% endif %}">
                                {% if forloop.first%}
                                    <label class="control-label">Chat Notifications</label>
                                {% endif %}
                                <div class="controls">
                                    <label class="checkbox">
                                        {{ field }} {{ field.label }}
                                        {% for error in field.errors %}
                                            <span class="help-inline">{{error}}</span>
                                        {% endfor %}
                                    </label>
                                </div>
                            </div>
                        {% endfor %}

                        <div class="control-group">
                            <div class="controls">
                                <button type="submit" class="btn-primary">Save changes</button>
                            </div>
                        </div>

                    </fieldset>

                    {% if messages %}
                        {% for message in messages %}
                            <!-- Consume all messages stored -->
                            {% if message.tags == 'success' %}
                                <div class="alert alert-success">
                                    <span>{{ message }}</span>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}

                </form>
            </div> <!-- end span9 -->

        </div>
    </div>

{% endblock %}