{% extends "menu_base.html" %}
{% load staticfiles %}
{% load url from future %}
{% load verbatim %}
{% load widget_filters %}
{% load humanize %}

{% block title %}Tech Residents - Profile{% endblock %}

{% block extrahead %}
    <link href="{% static "css/profile_jobs.css" %}" rel="stylesheet">


    {% autoescape off %}
        <script>
            TR = { XD: { remote: "{{TR_XD_REMOTE}}" } };
        </script>
    {% endautoescape %}

    <script>
        var require = {
            baseUrl: '/static/js'
        };
    </script>
    <script data-main="{% static "js/apps/profile/main.js" %}" src="{% static "js/3ps/require/require.js" %}"></script>
{%endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="page-header">
                <h1>Profile</h1>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">

            {% include 'accounts/navigation_panel.html' with isJobsPageActive="active" navPanelMessage="Tell us about the kind of job you're seeking so we can better match you with our network of hiring companies." %}

            <div class="span9">
                <div>
                    <fieldset>
                        <legend>Change your job preferences</legend>
                    </fieldset>


                    {% if messages %}
                        {% for message in messages %}
                            <!-- Consume all messages stored -->
                            {% if message.tags == 'success' %}
                                <div class="alert alert-success">
                                    <span>{{ message }}</span>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}


                    <h3 id="job-notifications-header">Notifications</h3>
                    <div class="well">
                        <div class="control-group">
                            <div class="controls" id="jobs-notifications-list">
                                <label class="checkbox">
                                    <input type="checkbox" name="email_new_job_opps" id="id_email_new_job_opps"> Allow potential employers to contact me based on the preferences provided below
                                </label>
                            </div>
                        </div>
                    </div>


                    <h3>Positions <small>You Want</small></h3>
                    <div id="positions-table-wrap" class="well">
                        <table id="positions-table" class="table">
                            <thead>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Minimum Salary (US Dollars)</th>
                            <th></th>
                            </thead>
                            <tbody id="user-positions-list">

                            </tbody>
                        </table>

                        <div class="form-horizontal">
                            <div class="control-group">
                                <label for="position-input">Add Position</label>
                                <div class="controls">
                                    <div id="position-add" class="input-append">
                                        <select id="position-input">
                                            {% for option in position_names %}
                                                <option value={{ option }}>{{ option }}</option>
                                            {% endfor %}
                                        </select>
                                        <button id="position-add-button" class="btn">Add</button>
                                    </div>
                                </div>
                                <div class="controls">
                                    <span class="help">
                                        <a href="mailto:{{ support_email }}?Subject=Add%20Position%20Request">Position not listed?</a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>


                    <h3>Locations <small>You Want To Work In</small></h3>
                    <div id="location-table-wrap" class="well">
                        <table id="location-table" class="table">
                            <thead>
                            <th>City</th>
                            <th>State</th>
                            <th>Country</th>
                            <th></th>
                            </thead>
                            <tbody id="jobs-location-list">

                            </tbody>
                        </table>

                        <div class="form-horizontal">
                            <div class="control-group">
                                <label for="location-input">Add Location</label>
                                <div class="controls">
                                    <div id="location-add" class="input-append">
                                        <input id="location-input" maxlength="1024" type="text" name="location" autocomplete="off" placeholder="City or State">
                                        <button id="location-add-button" class="btn">Add</button>
                                    </div>
                                </div>
                                <div class="controls">
                                <span class="help">
                                    <a href="mailto:{{ support_email }}?Subject=Add%20Location%20Request">Location not listed?</a>
                                </span>
                                </div>
                            </div>
                        </div>
                    </div>


                    <h3>Technologies <small>You Want To Work With</small></h3>
                    <div id="technology-table-wrap" class="well">
                        <table id="technology-table" class="table">
                            <thead>
                            <th>Name</th>
                            <th></th>
                            </thead>
                            <tbody id="jobs-technology-list">
                            </tbody>
                        </table>

                        <div class="form-horizontal">
                            <div class="control-group">
                                <label for="technology-input">Add Technology</label>
                                <div class="controls">
                                    <div id="technology-add" class="input-append">
                                        <input id="technology-input" maxlength="1024" type="text" name="technology" autocomplete="off" placeholder="Technology Name ( e.g. Java )">
                                        <button id="technology-add-button" class="btn">Add</button>
                                    </div>
                                </div>
                                <div class="controls">
                                <span class="help">
                                    <a href="mailto:{{ support_email }}?Subject=Add%20Technology%20Request">Technology not listed?</a>
                                </span>
                                </div>
                            </div>
                        </div>
                    </div>


                    <form id="profile-jobs-form" class="form-horizontal" method="post" action="{% url 'accounts.views.profile_jobs' %}">
                        <fieldset>
                            {% csrf_token %}

                            <!-- Hidden input fields -->
                            <input id="notifications-form-input" type="hidden" name="notifications_form_data"/>
                            <input id="positions-form-input" type="hidden" name="positions_form_data"/>
                            <input id="technologies-form-input" type="hidden" name="technologies_form_data"/>
                            <input id="locations-form-input" type="hidden" name="locations_form_data"/>

                            <div class="control-group">
                                <div class="controls">
                                    <button type="submit" class="btn-primary">Save changes</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>


                    {% if form.non_field_errors %}
                        <div class="alert alert-error">
                            {% for error in form.non_field_errors%}
                                <span>{{error}}</span>
                            {% endfor %}
                        </div>
                    {% endif %}

                    {% if field.errors %}
                        <div class="alert alert-error">
                            {% for error in field.errors %}
                                <span>{{error}}</span>
                            {% endfor %}
                        </div>
                    {% endif %}


                </div> <!-- end well -->
            </div> <!-- end span9 -->
        </div>
    </div>



    {% autoescape off %}
    <script>
        var notifications = {{ json_notification_prefs }};
        var positions = {{json_user_positions}};
        var positionTypes = {{json_position_types}};
        var technologies = {{ json_technology_prefs }}
        var locations = {{ json_location_prefs }}
        var app = {'name':'jobs'};
    </script>
    {% endautoescape %}

    <!-- Templates -->
    <script type="text/template" id="item-hint-template">
        <td>
            <span>No preferences have been provided yet.</span>
        </td>
        <td></td>
        <td></td>
        <td></td>
    </script>

    <script type="text/template" id="position-item-template">
        <td>
            <span> <%= name %> </span>
        </td>
        <td>
            <span> <%= description %> </span>
        </td>
        <td>
            <select class="min-salary-option">
                {% for option in min_salary_options %}
                    <option value={{ option }}>{{ option|intcomma }}
                        {% if forloop.last %}+{% endif %}
                    </option>
                {% endfor %}
            </select>
        </td>
        <td>
            <a class="close">x</a>
        </td>
    </script>

    <script type="text/template" id="location-item-template">
        <td>
            <span> <%= city || '' %> </span>
        </td>
        <td>
            <span> <%= state %> </span>
        </td>
        <td>
            <span> <%= country %> </span>
        </td>
        <td>
            <a class="close">x</a>
        </td>
    </script>

    <script type="text/template" id="technology-item-template">
        <td>
            <span> <%= name %> </span>
        </td>
        <td>
            <a class="close">x</a>
        </td>
    </script>

{% endblock %}
