{% extends "base.html" %}
{% load url from future %}
{% load verbatim %}

{% block title %}tech residents{% endblock %}

{% block extrahead %}
<link href="{{STATIC_URL}}css/profile.css" rel="stylesheet">

<script>
    var require = {
        baseUrl: '/static/js',
    };
</script>
<script data-main="{{STATIC_URL}}js/apps/profile/main.js" src="{{STATIC_URL}}js/3ps/require/require.js"></script>
{%endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="span16">
            <h1>Tech Residents</h1>
        <div>
    </div>
    <div class="row">
        <div class="span7">
            <table id="table" class="condensed-table">
                <thead>
                    <th>Technology</th>
                    <th>Expertise</th>
                    <th>Experience</th>
                </thead>
                <tbody id="tbody">
                </tbody>
            </table>
        </div>
        <div class="span9">
            <div id="chart"/>
        </div>
    </div>
</div>

<script>
    data =  [
            {id: 0, name: "Java", expertise: 0, experience: 0},
            {id: 1, name: "C++", expertise: 0, experience: 0},
            {id: 2, name: "Python", expertise: 0, experience: 0},
            {id: 3, name: "OO", expertise: 0, experience: 0},
            {id: 4, name: "Data Structures", expertise: 0, experience: 0},
            {id: 5, name: "Algorithms", expertise: 0, experience: 0},
            {id: 6, name: "Concurrency", expertise: 0, experience: 0},
            {id: 7, name: "Security", expertise: 0, experience: 0}];
</script>

<!-- Templates -->

{% verbatim %}
<script type="text/template" id="item-template">
        <td><%= name %></td>
        <td><%= expertise ? expertise : '' %></td>
        <td><%= experience ? experience : '' %></td>
</script>
{% endverbatim %}

{% endblock %}
