{% extends "menu_base.html" %}
{% load url from future %}

{% block title %}Profile{% endblock %}

{% block extrahead %}
    <link href="{{STATIC_URL}}css/profile.css" rel="stylesheet">
{%endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="page-header">
                <h1>Profile</h1>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">

            {% include 'accounts/navigation_panel.html' with isPasswordPageActive="active" %}

            <div class="span9">
                <!--Body content-->
                <form class="form-horizontal well" method="post" action="{% url 'accounts.views.profile_password' %}">
                    {% csrf_token %}
                    <fieldset>
                        <legend>Change or reset your password</legend>

                        {% for field in form %}
                            <div class="control-group {% if field.errors %}error{% endif %}">
                                {{ field.label_tag }}
                                <div class="controls">
                                    {{ field }}
                                    {% if field.label == 'Current Password' %}
                                        <span class="help-inline">
                                            <a href="{% url 'accounts.views.forgot_password' %}">Forgot your password?</a>
                                        </span>
                                    {% endif %}
                                    {% for error in field.errors %}
                                        <span class="help-inline">{{error}}</span>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}

                        <div class="control-group">
                            <div class="controls">
                                <button type="submit" class="btn-primary">Save changes</button>
                            </div>
                        </div>

                    </fieldset>

                    {% if form.non_field_errors %}
                        <div class="alert alert-error">
                            {% for error in form.non_field_errors%}
                                <span>{{error}}</span>
                            {% endfor %}
                        </div>
                    {% endif %}

                    {% if messages %}
                        {% for message in messages %}
                            <!-- Consume all messages stored -->
                            {% if message.tags == 'success' %}
                                <div class="alert alert-success">
                                    <span>{{ message }}</span>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}

                </form>

            </div> <!-- end span9 -->

        </div>
    </div>

{% endblock %}