{% extends "menu_base.html" %}
{% load url from future %}

{% block title %}Tech Residents PTI Backbone Demo{% endblock %}

{% block extrahead %}
    <link href="{{STATIC_URL}}css/ptidemo.css" rel="stylesheet">
    <script>
        var require = {
            baseUrl: '/static/js'
        };
    </script>
    <script data-main="{{STATIC_URL}}js/apps/ptidemo/main.js" src="{{STATIC_URL}}js/3ps/require/require.js"></script>

{%endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="page-header">
                <h1>PTI Backbone Demo</h1>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span2">
                <!--Sidebar content-->
                <ul class="nav nav-list well">
                    <li class="nav-header">Profile Info</li>
                    <li class="active">
                        <a href="#">
                            <i class="icon-user icon-white"></i>
                            Account
                        </a>
                    </li>
                    <li><a href="#">Password</a></li>
                    <li><a href="#">Technology</a></li>
                    <ul class="nav nav-list">
                        <li><a href="#">Programming</a></li>
                        <li><a href="#">Frameworks</a></li>
                        <li><a href="#">Persistence</a></li>
                    </ul>
                    <li><a href="#">Notifications</a></li>

                    <br>

                    <div class="controls">
                        <textarea class="input-medium" id="textarea" rows="5">
                            This text area will contain context for why we'er asking for this data
                        </textarea>
                    </div>
                </ul>
            </div>
            <div class="span6">
                <!--Body content-->
                <form class="form-horizontal well">
                    <div class="control-group">
                        <label class="control-label" for="input01">First Name</label>
                        <div class="controls">
                            <input type="text" class="input-xlarge" id="input01">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="input02">Last Name</label>
                        <div class="controls">
                            <input type="text" class="input-xlarge" id="input02">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="input03">Email</label>
                        <div class="controls">
                            <input type="text" class="input-xlarge" id="input03">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="select01">Proud Developer for</label>
                        <div class="controls">
                            <select id="select01">
                                <option>1 year</option>
                                <option>2-5 years</option>
                                <option>5-10 years</option>
                                <option>10-15 years</option>
                                <option>15-25 years</option>
                            </select>
                        </div>
                    </div>
                </form>




                <form class="well">
                    <button type="submit" class="btn-primary">Save Changes</button>
                </form>
            </div>
        </div>
    </div>

    <!-- Demo Block

    <div class="container">
        <div class="row">
            <div class="page-header">
                <h1>PTI Backbone Demo</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <table id="agenda-topic-table" class="table table-bordered">
                <thead>
                <tr>
                    <th>Duration</th>
                    <th>Agenda Topic</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                <tr class="agendaItem">
                    <td class="duration">0:10</td>
                    <td>Intros</td>
                    <td>Introduce yourself. Provide brief background on your experiences.</td>
                </tr>
                <tr class="agendaItem">
                    <td class="duration">7:00</td>
                    <td>JVM</td>
                    <td>What advantages does the JVM offer over X?</td>
                </tr>
                <tr class="agendaItem">
                    <td class="duration">5:00</td>
                    <td>Java Security</td>
                    <td>What drawbacks exist when using the Java programming language compared to C?</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    -->

{% endblock %}