{% extends base_template %}
{% load staticfiles %}
{% load url from future %}

{% block title %}About Us | Tech Residents{% endblock %}

{% block meta-description %}content="Technical hiring in its current form is
    extremely inefficient and painful for both developers and employers, and
    it's our mission to fix it."
{% endblock %}

{% block extrahead %}
    <link href="{% static "css/about.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="container" itemscope itemtype="http://schema.org/AboutPage">
    <div class="row">
        <div class="span12">
            <div class="page-header">
                <h1>About Us</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span6">
            <p><span itemprop="name">Tech Residents</span> is headquartered in Boston, Massachusetts.</p>
            <p class="text-justify" itemprop="description">We believe that technical hiring in its current form is
                extremely inefficient and painful for both <span itemprop="audience">software developers</span> and employers,
                and it's our mission to fix it.</p>
        </div>
    </div>
</div>

{% endblock %}
