{% extends "navbar_unauthenticated.html" %}
{% load staticfiles %}
{% load url from future %}

{% block title %}Welcome to Tech Residents - About us{% endblock %}

{% block extrahead %}
    <link href="{% static "css/about.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="span12 page-header">
            <h1>About us</h1>
        </div>
    </div>
    <div class="row">
        <div class="span8 about-text">
            <p>Tech Residents is the ground-breaking talent acquisition platform built by software developers, for software developers.</p>
            <br>
            <P>With our network of top employers, Tech Residents connects talented software developers with  new opportunities on their terms.</p>
            <br>
            <p>Launched in 2012, Tech Residents is headquartered in Boston, Massachusetts.  Tech Residents is currently available on a private beta basis.</p>
        </div>

        <div class="span4">
            <div class="well">
                <ul class="nav nav-list">
                    <li class="nav-header">Follow us</li>
                    <li>
                        <a href="http://blog.techresidents.com">Blog</a>
                    </li>
                    <li>
                        <a href="http://www.linkedin.com/company/tech-residents">LinkedIn</a>
                    </li>
                    <li>
                        <a href="http://www.facebook.com/techresidents">Facebook</a>
                    </li>
                    <li>
                        <a href="http://twitter.com/TechResidents">Twitter</a>
                    </li>
                    <li class="nav-header">General</li>
                    <li>
                        <a href="{% url 'common.views.contact' %}">Contact us</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock %}
