{% extends "navbar_unauthenticated.html" %} {% load staticfiles %}
{% load url from future %}

{% block title %}Developers Learn More | Tech Residents{% endblock %}

{% block meta-description %}content="Tech Residents helps software
     professionals to showcase their talent to great companies via
     online chats. Whether targeting a corporation or a startup
     Tech Residents can help separate you from the competition."
{% endblock %}

{% block extrahead %}
    <link href="{% static "css/faq.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="page-header">
                    <h1>
                        FAQ
                        <small>Developers</small>
                        <a class="btn btn-large btn-success" href="{% url 'accounts.views.register' %}">Sign Up</a>
                    </h1>
                </div>
            </div>
        </div>
        <div class="faq-content">
            <div class="row">
                <div class="span4"><h4>What is Tech Residents?</h4></div>
                <div class="span8 muted"><p>
                    Technical hiring in its current form is extremely inefficient and painful for both developers and employers,
                    and it's our mission to fix it.  We've built a platform that makes it easy and risk-free for developers
                    like you to showcase yourself to hiring companies without having to deal with recruiters, phone screens, and other
                    barriers that get in the way.
                </p></div>
            </div>
            <div class="row">
                <div class="span4"><h4>Why should I join?</h4></div>
                <div class="span8 muted">
                    <p>You should join us because:
                        <ul>
                            <li>We make it easy and risk-free for you to explore new employment opportunities.</li>
                            <li>You'll save time by taking advantage of our DRY approach to job hunting.</li>
                            <li>You'll maximize your exposure to hiring companies.</li>
                            <li>We'll pay you a signing bonus upon accepting a new job.</li>
                            <li>You'll never have to deal with recruiters again.</li>
                        </ul>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="span4"><h4>Who can join?</h4></div>
                <div class="span8 muted"><p>Our platform is open to talented software developers of all backgrounds and experience levels, including new grads. We pride ourselves in our ability to recognize talent regardless of the name of your employer or the institution on your diploma. </p></div>
            </div>
            <div class="row">
                <div class="span4"><h4>How exactly does it work?</h4></div>
                <div class="span8 muted"><p>Simply complete your developer profile and record chats on the topics of your choice. Employers will review your anonymous profile and listen to the audio from your chats to determine if you're a fit for their organization. Employers that like what they hear will extend an interview offer. If you accept the interview and then later accept a job offer we'll pay you a signing bonus.</p></div>
            </div>
            <div class="row">
                <div class="span4"><h4>How much is my signing bonus?</h4></div>
                <div class="span8 muted"><p>If you accept a job offer through our platform we will pay you a signing bonus of 20% of our recruitment fee as soon as we get paid. For a $100K job this means you will get a $3,000 bonus.</p></div>
            </div>
            <div class="row">
                <div class="span4"><h4>What about privacy?</h4></div>
                <div class="span8 muted"><p>Employers are only given access to your anonymous developer profile and the audio from your chats. This means that there is no risk of your current employer finding out, or hurting your future chances with other employers. The only time an employer will learn your identity is if you decide to move forward with an interview offer.</p></div>
            </div>
            <div class="row">
                <div class="span4"><h4>Who do I chat with?</h4></div>
                <div class="span8 muted"><p>You can chat alone or with a friend on a wide variety of real-world software topics.
                    It's best to be as natural as possible in your chats, and some developers find it easier to do this through a real conversation with a fellow developer. In general we recommend completing the shorter chats by yourself, and for the longer chats feel free to go it alone or with a friend.
                </p></div>
            </div>
            <div class="row">
                <div class="span4"><h4>Why chats?</h4></div>
                <div class="span8 muted"><p>In our hiring experience, we've found that the best way to determine if a developer is a good fit is through conversation. While it's impractical for you to speak directly will all of our employers, we believe that our chats are the next best thing. By providing employers with the audio from your chats, we can better give them an idea of how you may fit within their organization.</p></div>
            </div>
            <div class="row">
                <div class="span4"><h4>Should I treat chats like an interview?</h4></div>
                <div class="span8 muted"><p>Absolutely not. The rigidity and formality of an interview all too often only gets in the way. We recommend that you chat like you're speaking with a familiar colleague -- conversational, yet professional, and never rehearsed.</p></div>
            </div>
            <div class="row">
                <div class="span4"><h4>Do I have to accept an interview offer?</h4></div>
                <div class="span8 muted"><p>No, there's absolutely no obligation to accept an interview offer. Interview offers accepted through our platform are non-binding, and serve as a starting point for further exploration.</p></div>
            </div>
            <div class="row">
                <div class="span12">
                    <h3>Find Your Next Opportunity
                        <a class="btn btn-large btn-success" href="{% url 'accounts.views.register' %}">Sign Up</a>
                    </h3>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
