{% extends "navbar_unauthenticated.html" %}
{% load staticfiles %}
{% load url from future %}

{% block title %}Employers Learn More | Tech Residents{% endblock %}

{% block meta-description %}content="Tech Residents helps software
     professionals to showcase their talent to great companies via
     online chats. Whether targeting a corporation or a startup
     Tech Residents can help separate you from the competition."
{% endblock %}

{% block extrahead %}
    <link href="{% static "css/learn_more.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="page-header">
                <h1>
                    Recruit top developers
                    <small>It's easy</small>
                    <a class="btn btn-large btn-success" href="{% url 'accounts.views.register_employer' %}">Sign Up</a>
                </h1>
            </div>

            <div class="learn_more_content span7">
                <h4>What is Tech Residents?</h4>
                <p>Tech Residents is a platform for software developers to talk tech and showcase their talent to employers like you. We believe that the hiring process in its current form is extremely inefficient and ineffective. Our goal is to surface talented developers and present them in an unbiased manner. We pride ourselves in our ability to find talent, especially talent that others overlook.</p>
                <h4>Why should I recruit developers through Tech Residents?</h4>
                <p>Through custom curation and analytics we provide access to talented software developers. If you're a small company this may mean access to developers outside of your reach, or if you're a large company this may mean access to talent overlooked in complex hiring processes.</p>
                <h4>How exactly does it work?</h4>
                <p>Simply sign up and you will be included in all future hiring events. Our platform will provide you access to anonymous developer profiles along with the anonymized audio from developer chats. If a developer is a potential fit for your organization, you will have the opportunity to extend a provisional offer. At the end of the hiring event, all offers will be released for developer consideration. If a developer accepts your offer, their identity will be revealed so that you may proceed with your hiring process.</p>
                <h4>How much does it cost?</h4>
                <p>Our fees are significantly less than traditional recruiters. If you hire a developer within 6 months of extending them an offer through our platform, we will invoice you for the greater of 15% of their annual salary or $12,000. If your hire does not work out and you terminate employment within 90 days, we will issue you a full refund.</p>
                <h4>How long does the process take?</h4>
                <p>Hiring events take place roughly every 4-6 weeks, and last for 10 days. Throughout the event, you will have the opportunity to extend provisional offers to developers.</p>
                <h4>Why developer chats?</h4>
                <p>In our experience as hiring managers, we've found that the best way to determine if a developer is a good fit is through conversation. While it's impractical for you to speak directly with every developer, we believe that our video chats are the next best thing. By providing you with the anonymized audio from developer chats, you can better evaluate how a developer may fit within your organization.</p>
                <h4>Why must developers remain anonymous?</h4>
                <p>In order to reduce cognitive bias, we think it's best to withhold a developer's identity and background until after your initial evaluation. Additionally, by allowing developers to remain anonymous we're able to keep the barrier to our platform low, and provide you access to more developers.</p>
                <h4>Do I have to extend an employment offer?</h4>
                <p>No, there is absolutely no obligation to extend an employment offer at any point in the process. Provisional offers made through our platform are non-binding, and only serve as a starting point for further diligence.</p>

                <h3>Recruit top developers
                    <a class="btn btn-large btn-success" href="{% url 'accounts.views.register_employer' %}">Sign Up</a>
                </h3>
            </div>
        </div>            
    </div>

{% endblock %}
