{% extends "navbar_unauthenticated.html" %}
{% load staticfiles %}
{% load url from future %}

{% block title %}Employers Learn More | Tech Residents{% endblock %}

{% block meta-description %}content="Tech Residents helps software
     professionals to showcase their talent to great companies via
     online chats. Whether targeting a corporation or a startup
     Tech Residents can help separate you from the competition."
{% endblock %}

{% block extrahead %}
    <link href="{% static "css/faq.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="page-header">
                    <h1>
                        FAQ
                        <small>Employers</small>
                        <a class="btn btn-large btn-success" href="{% url 'accounts.views.register_employer' %}">Sign Up</a>
                    </h1>
                </div>
            </div>
        </div>
        <div class="faq-content">
            <div class="row">
                <div class="span4"><h4>What is Tech Residents?</h4></div>
                <div class="span8 muted"><p>
                    Technical hiring in its current form is extremely inefficient and painful for both developers and employers, and it's our mission to fix it.
                    We've built a platform that enables you to easily and quickly hire great talent.
                </p></div>
            </div>
            <div class="row">
                <div class="span4"><h4>Why should I hire using your platform?</h4></div>
                <div class="span8 muted"><p>Our low-barrier platform attracts talented developers and puts them within your grasp. Our platform will save you time by enabling you to eliminate phone screens from your hiring process and instead listen on demand to developers discuss topics that showcase their technical and cultural fit. You'll also save money compared to hiring recruiters.</p></div>
            </div>
            <div class="row">
                <div class="span4"><h4>How exactly does it work?</h4></div>
                <div class="span8 muted"><p>Simply sign up and our platform will provide you access to anonymous developer profiles along with the audio from developer chats. If a developer is a potential fit for your organization, you will have the opportunity to extend an interview offer. If a developer accepts your offer, their identity will be revealed so that you may proceed with your hiring process.</p></div>
            </div>
            <div class="row">
                <div class="span4"><h4>How much does it cost?</h4></div>
                <div class="span8 muted"><p>Our fees are significantly less than traditional recruiters. If you hire a developer within 6 months of extending them an offer through our platform, we will invoice you for the greater of 15% of their annual salary or $12,000. If your hire does not work out and you terminate employment within 90 days, we will issue you a full refund.</p></div>
            </div>
            <div class="row">
                <div class="span4"><h4>Why developer chats?</h4></div>
                <div class="span8 muted"><p>In our experience as hiring managers, we've found that the best way to determine if a developer is a good fit is through conversation. While it's impractical for you to speak directly with every developer, we believe that our chats are the next best thing. By listening to developer chats you can better evaluate communication skills, technical breadth and depth, and cultural fit within your organization.</p></div>
            </div>
            <div class="row">
                <div class="span4"><h4>Why must developers remain anonymous?</h4></div>
                <div class="span8 muted"><p>In order to reduce cognitive bias, we think it's best to withhold a developer's identity and background until after your initial evaluation. Additionally, by allowing developers to remain anonymous we're able to keep the barrier to our platform low, and provide you access to more developers.</p></div>
            </div>
            <div class="row">
                <div class="span4"><h4>Do I have to extend an employment offer?</h4></div>
                <div class="span8 muted"><p>No, there is absolutely no obligation to extend an interview offer at any point in the process. Interview offers made through our platform are non-binding, and only serve as a starting point for further diligence.</p></div>
            </div>
            <div class="row">
                <div class="span12">
                    <h3>Recruit Top Developers
                        <a class="btn btn-large btn-success" href="{% url 'accounts.views.register_employer' %}">Sign Up</a>
                    </h3>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
