{% extends "navbar_unauthenticated.html" %}
{% load staticfiles %}
{% load url from future %}

{% block title %} Platform for software professionals to discuss technology and showcase their talent to hiring companies | Tech Residents{% endblock %}

{% block extrahead %}
    <link href="{% static "css/landing.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}

    <div id="landing-blue-stripe">

        <div id="landing-blue-stripe-middle">
            <div id="landing-messaging-container" class="container">
                <div class="row">
                    <div class="span9">
                        <h1 class="landing-text-orange landing-brand-text">Tech Residents</h1>
                        <h1 class="landing-text-offwhite landing-messaging-text">
                            Discuss. Be Heard. Get Hired.
                        </h1>
                    </div>
                </div>
            </div>
            <div id="landing-details-container" class="container">
                <div class="row">
                    <div class="span7">
                            <span class="landing-text-white landing-messaging-details-text">
                                A free platform for software developers to talk tech and showcase their talent to hiring companies.
                            </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="landing-white-stripe">
        <div id="landing-signup-container" class="container">
            <div class="row">
                <div class="span7 offset2">
                    <h1 class="landing-signup-text">
                        Join the conversation
                    </h1>
                </div>
                <div class="span2">
                    <a id="landing-signup-button" class="btn btn-large btn-success" href="{% url 'accounts.views.register'%}">Sign Up</a>
                </div>
            </div>
            <div class="row">
                <div class="span2 offset7">
                    <h1 class="landing-signup-details-text">
                        It's free
                    </h1>
                </div>
                <div class="span2">
                    <a id="landing-learn-more-button" class="btn btn-primary btn-large" href="{% url 'common.views.learn_more'%}">Learn More</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


