{% extends "navbar_unauthenticated.html" %}
{% load staticfiles %}
{% load url from future %}

{% block title %} Discuss. Be Heard. Get Hired. | Tech Residents{% endblock %}

{% block meta-description %}content="Tech Residents is a free platform for software
    professionals to discuss curated technical topics with fellow professionals to find
    great jobs and build a better career. Welcome to software programmers,
    developers, engineers, consultants, architects, and other software professionals."
{% endblock %}

{% block extrahead %}
    <link href="{% static "css/landing.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}

    <div id="landing-banner" class="landing-blue-stripe">
        <div class="landing-container container">
            <div class="row">
                <div class="span7">
                    <h1 class="landing-text-offwhite landing-messaging-text">
                        Discuss. Be Heard. Get Hired.
                    </h1>
                </div>
                <div id="embedded-video-container" class="span4 pull-right">
                    <iframe width="450" height="253" src="http://www.youtube.com/embed/3vbuF02CkA0?rel=0&color=white" frameborder="1" allowfullscreen></iframe>
                </div>
                <div id="landing-details-container" class="span7">
                    <span class="landing-text-white landing-messaging-details-text">
                        A free platform for software developers to talk tech and showcase their talent to hiring companies.
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div id="landing-lower-banner">
        <div class="landing-container container">
            <div class="row">
                <div class="span5">
                    <h1 class="page-header">Developers <small>It's free</small></h1>
                    <h3>Find your next opportunity</h3>
                    <p class="lead muted">
                        <a class="btn btn-large btn-success" href="{% url 'accounts.views.register'%}">Sign Up</a>
                        <a class="btn btn-primary btn-large" href="{% url 'common.views.developer_learn_more'%}">Learn More</a>
                    </p>
                </div>
                <div class="span5 offset1">
                    <h1 class="page-header">Employers <small>It's easy</small></h1>
                    <h3>Recruit top developers</h3>
                    <p class="lead muted">
                        <a class="btn btn-large btn-success" href="{% url 'accounts.views.register'%}">Sign Up</a>
                        <a class="btn btn-primary btn-large" href="{% url 'common.views.employer_learn_more'%}">Learn More</a>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="span9 offset2">
                    <ul class="landing-social-links">
                        <li>
                            <a href="https://twitter.com/techresidents" class="twitter-follow-button" data-show-count="false">Follow @techresidents</a>
                            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                        </li>
                        <li>
                            <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com%2Ftechresidents&amp;send=false&amp;layout=button_count&amp;width=80&amp;show_faces=false&amp;font&amp;colorscheme=light&amp;action=like&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:80px; height:21px;" allowTransparency="true"></iframe>
                        </li>
                        <li>
                            <a class="landing-social-text" href="http://www.linkedin.com/company/tech-residents"><img src="{% static 'img/LinkedIn_Logo16px.png' %}"/>Join</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="landing-gray-stripe">
        <div class="landing-container container">
            <div class="row">
                <div class="span7">
                    <div class="page-header">
                        <h1>Better for Developers</h1>
                    </div>
                    <ul class="landing-list">
                        <li><h4>Don't let your resumé speak for you</h4><p>Chat alone or with a friend about real-world software topics and let hiring companies compete for you.</p></li>
                        <li><h4>Earn what you're worth</h4><p>Our platform gives companies the opportunity to compete for you, ensuring that you get paid what you're worth.</p></li>
                        <li><h4>Get paid</h4><p>Get paid 20% of our recruitment fee, typically $2,400 - $6,000.</p></li>
                        <li><h4>Privacy matters</h4><p>To maintain your privacy, we only share the anonymized audio from your chats with hiring companies.</p></li>
                        <li><h4>No commitment</h4><p>Developers have no obligation to accept employer offers.</p></li>
                        <a class="btn btn-large btn-primary" href="{% url 'common.views.developer_learn_more'%}">Learn More</a>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div>
        <div class="landing-container container">
            <div class="row">
                <div class="span7">
                    <div class="page-header">
                        <h1>Better for Employers</h1>
                    </div>
                    <ul class="landing-list">
                        <li><h4>Recruit top developers</h4><p>Our curation process surfaces talented developers and puts them within your grasp.</p></li>
                        <li><h4>Save time</h4><p>Avoid wasting time with the wrong candidates. Listen to developers discuss real-world topics to gauge their fit within your organization. </p></li>
                        <li><h4>Save money</h4><p>Save 30-50% on traditional recruitment fees.</p></li>
                        <li><h4>Reduce cognitive bias</h4><p>We present developers in an unbiased manner to encourage objective evaluations.</p></li>
                        <li><h4>No commitment</h4><p>Employers have no obligatation to make developers an offer.</p></li>
                        <a class="btn btn-large btn-primary" href="{% url 'common.views.employer_learn_more'%}">Learn More</a>
                    </ul>

                </div>
            </div>
        </div>
    </div>

{% endblock %}


