{% extends "noauth_menu_base.html" %}
{% load url from future %}

{% block title %}Welcome to Tech Residents - Learn more{% endblock %}

{% block extrahead %}
    <link href="{{STATIC_URL}}css/learn_more.css" rel="stylesheet">
{% endblock %}

{% block content %}

    <div id="learn-more-container" class="container-fluid container-no-padding">

        <div id="learn-more-overview-start" class="row-fluid">
            <div class="span9 offset3">
                <h1>
                    Join the conversation
                    <small>It's free</small>
                    <a class="btn btn-large btn-success" href="{% url 'accounts.views.register' %}">Sign Up</a>
                </h1>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span2">
                <div class="learn-more-bubble">
                    <img src="{{STATIC_URL}}img/blueChatBubble_200x200.png" alt="chat-bubble">
                </div>
            </div>
            <div class="span4">
                <h2>What is it?</h2>
                <p>A free platform for software developers to discuss curated technical topics with fellow developers.</p>
            </div>
        </div>
        <div id="learn-more-overview-end" class="row-fluid">
            <div class="span2 offset4">
                <div class="learn-more-bubble">
                    <img src="{{STATIC_URL}}img/orangeChatBubble_200x200.png" alt="chat-bubble">
                </div>
            </div>
            <div class="span4">
                <h2>Who is it for?</h2>
                <p>Software professionals who are looking for new career opportunities.
                   Professionals of all skill and experience levels, from new grads to veteran developers are welcome.
                </p>
            </div>
        </div>

        <div class="row-fluid learn-more-feature learn-more-stripe">
            <div class="span4 offset2">
                <h2>Don't Let Your Resume Speak For You</h2>
                <p>Tech Residents allows developers to showcase themselves to hiring companies through technical conversations.</p>
            </div>
            <div class="span5">
                <div class="learn-more-display">
                    <img src="{{STATIC_URL}}img/appleDisplay_500x375.png" alt="screenshot">
                </div>
            </div>
        </div>

        <div class="row-fluid learn-more-feature">
            <div class="span5 offset1">
                <div class="learn-more-display">
                    <img src="{{STATIC_URL}}img/appleLaptopDisplay_500x375.png" alt="screenshot">
                </div>
            </div>
            <div class="span4 offset1">
                <h2>Heading</h2>
                <p>Tagline</p>
            </div>
        </div>

        <div class="row-fluid learn-more-feature learn-more-stripe">
            <div class="span4 offset2">
                <h2>Heading</h2>
                <p>Tagline</p>
            </div>
            <div class="span5">
                <div class="learn-more-display">
                    <img src="{{STATIC_URL}}img/appleDisplay_500x375.png" alt="screenshot">
                </div>
            </div>
        </div>

        <div class="row-fluid learn-more-feature">
            <div class="span5 offset1">
                <div class="learn-more-display">
                    <img src="{{STATIC_URL}}img/appleLaptopDisplay_500x375.png" alt="screenshot">
                </div>
            </div>
            <div class="span4 offset1">
                <h2>Heading</h2>
                <p>Tagline</p>
            </div>
        </div>

        <div class="row-fluid learn-more-feature learn-more-stripe">
            <div class="span4 offset2">
                <h2>Heading</h2>
                <p>Tagline</p>
            </div>
            <div class="span5">
                <div class="learn-more-display">
                    <img src="{{STATIC_URL}}img/appleDisplay_500x375.png" alt="screenshot">
                </div>
            </div>
        </div>




    </div>


{% endblock %}
