{% extends "banner_base.html" %}
{% load url from future %}

{% block title %}Welcome to Tech Residents - Learn more{% endblock %}

{% block extrahead %}
    <link href="{{STATIC_URL}}css/learn_more.css" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="container">

    <div class="row">
        <div class="page-header">
            <h1>
                Join the conversation
                <a class="btn btn-large btn-success" href="{% url 'accounts.views.register'%}">Sign Up</a>
            </h1>
            <h1>
                <small>Don't make your resumè have to do all the talking</small>
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="span4">
            <h2 class="learn-more-title">What is it?</h2>
        </div>
        <div class="span4">
            <h2>Who is it for?</h2>
        </div>
        <div class="span4">
            <h2>Why join?</h2>
        </div>
    </div>

    <div class="row"></div>

    <div class="row">
        <div class="span4">
            <ul>
                <li>
                    <p class="learn-more-bullet">
                        A free platform for software developers to discuss curated technical topics with fellow developers
                    </p>
                </li>
                <li>
                    <p class="learn-more-bullet">
                        Allows developers to effectively and efficiently showcase themselves to hiring companies through technical conversations
                    </p>
                </li>
            </ul>
        </div>

        <div class="span4">
            <ul>
                <li>
                    <p class="learn-more-bullet">
                        Software professionals who are looking for new career opportunities
                    </p>
                </li>
                <li>
                    <p class="learn-more-bullet">
                        Software professionals of all skill and experience levels, from new grads to veteran developers
                    </p>
                </li>
            </ul>

        </div>

        <div class="span4">
            <ul>
                <li>
                    <p class="learn-more-bullet">

                        Efficiently showcase your talent and connect with great companies on your terms
                    </p>
                </li>
                <li>
                    <p class="learn-more-bullet">
                        Expand your network
                    </p>
                </li>
                <li>
                    <p class="learn-more-bullet">
                        Improve your communication skills
                    </p>
                </li>
                <li>
                    <p class="learn-more-bullet">
                        Improve your technical breadth and depth
                    </p>
                </li>
            </ul>
        </div>
    </div>

    <!--
    <div class="row">
        <div class="span12">
            <h2>How does it work?</h2>
            <p>
                The platform works by recording the technical discussions, making them anonymous for your privacy and protection, and finally making them available to our network of hiring companies.
            </p>
        </div>
    </div>
    -->

    <!--
    <div>
        <div id="learn-more-signup-container">
            <div class="row">
                <div class="span6 offset1">
                    <h1 class="learn-more-signup-text">
                        Join the conversation
                    </h1>
                </div>
                <div class="span2">
                    <a id="learn-more-signup-button" class="btn btn-large btn-success" href="{% url 'accounts.views.register'%}">Sign Up</a>
                </div>
            </div>
            <div class="row">
                <div class="span2 offset5">
                    <h1 class="learn-more-signup-details-text">
                        It's free
                    </h1>
                </div>
            </div>
        </div>
    </div>
    -->

</div>

{% endblock %}
