<div class="section-header">
    <h3>Application
        <button class="drop-button btn btn-small">Actions<span class="caret"></span></button>
    </h3>
</div>
<div class="container">
    <span><strong>Developer:</strong> <a href="/talent/user/<%= model.user_id %>">{<%= model.user_id %>}</a></span> 
    <span><strong>Created:</strong> <%= fmt.date(model.created, 'MM/dd/yy') %></span> 
    <span><strong>Requisition:</strong> <%= model.requisition.title %></span> 
    <span><strong>Status:</strong> <%= model.status %></span> 
</div>
