<div class="user-actions-container user-section-border-left">
    <h3 class="user-section-border-bottom">Your Assessment</h3>
    <div class="user-note"></div>
    <div class="application-tracker-actions">
        <div class="input-append">
            <input id="req-input" maxlength="100" type="text" name="reqID" autocomplete="off" placeholder="Requisition ID">
            <button id="add-req-button" type="button" class="btn">Add</button>
        </div>
    </div>
    <div class="application-briefs"></div>
</div>