<div class="user-actions-container user-section-border-left">
    <div class="user-logo"></div>
    <p class="user-ID"><%= candidateModel.id%></p>
    <div class="user-note"></div>
    <div class="application-tracker-actions">
        <div class="input-append">
            <input id="req-input" maxlength="100" type="text" name="reqID" autocomplete="off" placeholder="Requisition ID">
            <button id="add-req-button" type="button" class="btn">Add</button>
        </div>
    </div>
    <div class="application-briefs"></div>
</div>