<div>
    <% if(model.chat.topic && model.chat.topic.title) { %>

        <% if(playing) { %>
            <a class="play btn btn-small btn-primary"><i class="icon-volume-up icon-white"></i></a>
        <% } else { %>
            <a class="play btn btn-small"><i class="icon-play"></i></a>
        <% } %>

        <a class="chat-title" href="/talent/playback/<%=model.id%>"><%= model.chat.topic.title %></a>
        <span><%= fmt.date(model.start, 'MMM dd, yyyy')%></span>
        <span> || </span>
        <span><%= model.participants%> participants</span>
        <span> || </span>
        <span><%= model.chat.topic.duration %> mins</span>
    <% } %>
</div>
