<div class="span7">
    <h3 class="user-section-border-bottom">Wants</h3>
</div>
<div class="span8 user-position-prefs-container">

    <div class="span3">
        <h4>Positions</h4>
        <ul class="position-prefs unstyled">
            <% if (!model.position_prefs.length) { %>
                <span><em>No jobs provided</em></span>
            <% } else { %>

                <% _.each(model.position_prefs, function(position) { %>
                    <li><%= position.type %> <em><%= position.salary_start ? fmt.num(position.salary_start, 'cn0') : '' %></em></li>
                <% }); %>

                <% if (model.position_prefs.length > 3) { %>
                    <a class="slide-toggle">more</a>
                <% } %>

            <% } %>
        </ul>
    </div>

    <div class="span3">
        <h4>Locations</h4>
        <ul class="location-prefs unstyled">
            <% if (!model.location_prefs.length) { %>
                <span><em>No locations provided</em></span>
            <% } else { %>

                <% _.each(model.location_prefs, function(location) { %>
                    <% if(location.city) { %>
                        <li><%= location.city %>, <%= location.state %></li>
                    <% } else { %>
                        <li><%= location.state %></li>
                    <% } %>
                <% }); %>

                <% if (model.location_prefs.length > 3) { %>
                    <a class="slide-toggle">more</a>
                <% } %>

            <% } %>
        </ul>
    </div>

    <div class="span2">
        <h4>Technologies</h4>
        <ul class="technology-prefs unstyled">
            <% if (!model.technology_prefs.length) { %>
                <span><em>No technologies provided</em></span>
            <% } else { %>

                <% _.each(model.technology_prefs, function(technology) { %>
                    <li><%= technology.name %></li>
                <% }); %>

                <% if (model.technology_prefs.length > 3) { %>
                    <a class="slide-toggle">more</a>
                <% } %>

            <% } %>
        </ul>
    </div>

</div>