
<div class="well">

    <div class="user-logo" style="width:120px; height: 110px;"></div>

    <div>
        <h4>Looking for</h4>
        <ul>
            <% _.each(model.position_prefs, function(position) { %>
            <li><%= position.type %> <%= fmt.num(position.salary_start, 'cn0') %></li>
            <% }); %>
        </ul>

    </div>

    <div>
        <h4>Located in</h4>
        <ul>
            <% _.each(model.location_prefs, function(location) { %>
            <% if(location.city) { %>
                <li><%= location.city %>, <%= location.state %></li>
            <% } else { %>
                <li><%= location.state %></li>
            <% } %>
            <% }); %>
        </ul>

    </div>

    <div>
        <h4>Working with</h4>
        <ul>
            <% _.each(model.technology_prefs, function(technology) { %>
                <li><%= technology.name %></li>
            <% }); %>
        </ul>
    </div>

</div>




