<div class="span7">
    <h3 class="user-section-border-bottom">Profile <span class="orange-text normal-font">{<%= model.id %>}</span></h3>
</div>
<div class="span8 user-position-prefs-container">

    <div class="span2-5">
        <p class="user-position-prefs-position-heading">Seeking Positions</p>
        <div class="well">
            <ul class="position-prefs unstyled">
                <% if (!model.position_prefs.length) { %>
                <span><em>No jobs provided</em></span>
                <% } else { %>

                <% _.each(model.position_prefs, function(position) { %>
                <li><%= position.type %> <em><%= position.salary_start ? fmt.num(position.salary_start/1000, 'cn0')+'k' : '' %></em></li>
                <% }); %>

                <% if (model.position_prefs.length > 3) { %>
                <a class="slide-toggle">more</a>
                <% } %>

                <% } %>
            </ul>
        </div>
    </div>

    <div class="span2-5">
        <p class="user-position-prefs-position-heading">Located In</p>
        <div class="well">
            <ul class="location-prefs unstyled">
                <% if (!model.location_prefs.length) { %>
                <span><em>No locations provided</em></span>
                <% } else { %>

                <% _.each(model.location_prefs, function(location) { %>
                <% if(location.city) { %>
                <li><%= location.city %>, <%= location.state %></li>
                <% } else { %>
                <li><%= location.state %></li>
                <% } %>
                <% }); %>

                <% if (model.location_prefs.length > 3) { %>
                <a class="slide-toggle">more</a>
                <% } %>

                <% } %>
            </ul>
        </div>
    </div>

    <div class="span2-5">
        <p class="user-position-prefs-position-heading">With Technology</p>
        <div class="well">
            <ul class="technology-prefs unstyled">
                <% if (!model.technology_prefs.length) { %>
                <span><em>No technologies provided</em></span>
                <% } else { %>

                <% _.each(model.technology_prefs, function(technology) { %>
                <li><%= technology.name %></li>
                <% }); %>

                <% if (model.technology_prefs.length > 3) { %>
                <a class="slide-toggle">more</a>
                <% } %>

                <% } %>
            </ul>
        </div>
    </div>

</div>