<div class="row">
    <div class="page-header span12">
    </div>
</div>

<div class="row">
    <div class="span2 user-skills-filter">
        <div class="well">
            <h5>Filter Skills</h5>
            <div class="control-group">
                <div id="skills-filter" class="controls">
                    <label class="checkbox">
                        <input type="checkbox" name="languages" id="languages">Languages
                    </label>
                    <label class="checkbox">
                        <input type="checkbox" name="frameworks" id="frameworks">Frameworks
                    </label>
                    <label class="checkbox">
                        <input type="checkbox" name="persistence" id="persistence">Persistence
                    </label>
                    <label class="checkbox">
                        <input type="checkbox" name="2yrs" id="2yrs">0-2 yrs
                    </label>
                    <label class="checkbox">
                        <input type="checkbox" name="5yrs" id="5yrs">2-5 yrs
                    </label>
                    <label class="checkbox">
                        <input type="checkbox" name="5+yrs" id="5+yrs">5+ yrs
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="span9">
        <div id="expert-skills" class="user-expert-skills" >
            <h4>Expert</h4>
        </div>
        <div id="intermediate-skills" class="user-intermediate-skills" >
            <h4>Intermediate</h4>
        </div>
        <div id="beginner-skills" class="user-beginner-skills" >
            <h4>Beginner</h4>
        </div>
    </div>
</div>


