<div class="skills-filter user-skills-filter-container pull-left">
    <h4>Filters</h4>
    <div class="control-group">
        <div id="filter-options" class="controls">
            <% _.each(filtersList, function(filter) { %>
                <label class="checkbox">
                    <input type="checkbox" checked="checked" name="<%= filter.displayName %>" value="<%= filter.value %>" id="<%= filter.value %>"><%= filter.displayName %>
                </label>
            <% }); %>
        </div>
    </div>
</div>