<div class="span7">
    <h3 class="user-section-border-bottom">Skills
        <small>
            <div class="user-skills-legend">
                <div class="user-skills-legend-expert">Expert</div>
                <div class="user-skills-legend-proficient">Proficient</div>
                <div class="user-skills-legend-novice">Novice</div>
            </div>
        </small>
    </h3>
</div>
<div class="span8 user-skills-list-container">
    <% if (!expertCount && !proficientCount && !noviceCount) { %>
    <span><em>No skills provided</em></span>
    <% } %>
    <div id="expert-skills" class="user-skills-container user-skills-expert"></div>
    <div id="proficient-skills" class="user-skills-container user-skills-proficient"></div>
    <div id="novice-skills" class="user-skills-container user-skills-novice"></div>
</div>