
<div class="span7 no-span-margin user-skills-list-container">
    <div id="expert-skills" class="user-skills-container user-skills-expert" >
        <h4>Expert</h4>
        <% if (!expertCount) { %>
            <span><em>No skills provided</em></span>
        <% } %>
    </div>
    <div id="proficient-skills" class="user-skills-container user-skills-proficient" >
        <h4>Proficient</h4>
        <% if (!proficientCount) { %>
        <span><em>No skills provided</em></span>
        <% } %>
    </div>
    <div id="novice-skills" class="user-skills-container user-skills-novice" >
        <h4>Novice</h4>
        <% if (!noviceCount) { %>
        <span><em>No skills provided</em></span>
        <% } %>
    </div>
</div>



