<div class="container">
    <div class="row ">
        <div class="span8">
            <div class="row">
                <div id="user-job-prefs"></div>
            </div>
            <div class="row">
                <div id="user-skills"></div>
            </div>
            <div class="row">
                <div id="user-chats"></div>
            </div>
        </div>
        <div class="span4 no-span-margin">
            <div id="user-application-actions"></div>
        </div>
    </div>
</div>



