<div class="span1 well discuss-controls-well">
    <div>
        <span id="discuss-timer" class="discuss-time-text"/>
    </div>
    <div>
        <% if(activeTopic && nextTopic) { %>
            <button class="btn btn-input btn-success btn-large next">Next</button>
        <% } else if(activeTopic && nextTopic==null) { %>
            <button class="btn btn-input btn-success btn-large start">End</button>
        <% } else { %>
            <button class="btn btn-input btn-success btn-large start">Start</button>
        <% } %>
    </div>
</div>









