<% if(activeTopic) { %>
    <div class="span9">
        <h3 class="discuss-title-text">
            Discuss:  &nbsp; <em> <%= activeTopic.title %> </em>
        </h3>
    </div>
    <div class="span7">
        <p class="discuss-description-text">
            <%- activeTopic.description %>
        </p>
    </div>
<% } else { %>
    <div class="span9">
        <h3 class="discuss-title-text">
            Today's Chat: &nbsp; <em> <%= rootTopic.title %> </em>
        </h3>
    </div>
    <div class="span7">
        <p class="discuss-description-text">
            To start the chat press 'Start' when all participants are ready.
        </p>
    </div>
<% } %>