<div class="span1 well discuss-controls-well">
    <div>
        <p id="discuss-timer" class="discuss-time-text"/>
    </div>
    <div>
        <% if(activeTopic && nextTopic) { %>
            <button class="btn btn-input btn-success btn-large next" title="Proceed to the next chat topic">Next</button>
        <% } else if(activeTopic && nextTopic==null) { %>
            <button class="btn btn-input btn-success btn-large next" title="End the chat for all participants">End</button>
        <% } else { %>
            <button class="btn btn-input btn-success btn-large start" title="Start the chat">Start</button>
        <% } %>
    </div>
</div>









