<% if(activeTopic) { %>
    <div class="span9">
        <h3 class="discuss-title-text">
            Discuss:  &nbsp;&nbsp; <em> <%= activeTopic.title %> </em>
        </h3>
    </div>
<% } else if(nextTopic) { %>
    <div class="span9">
        <h3 class="discuss-title-text">
            Discuss:  &nbsp;&nbsp; <em> <%= nextTopic.title %> </em>
        </h3>
    </div>
<% } else { %>
    <div class="span9">
        <h3 class="discuss-title-text">
            Discuss:  &nbsp;&nbsp; <em> <%= rootTopic.title %> </em>
        </h3>
    </div>
<% } %>