<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label">Offer</label>
        <div class="controls">
            <select>
                <option value="PHONE">Phone Interview</option>
                <option value="IN_HOUSE">In-house Interview</option>
            </select>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Expiration</label>
        <div class="controls">
            <input class="expiration" type="text" placeholder="mm/dd/yyyy">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Requisition</label>
        <div class="controls">
            <input type="text" value="<%= application.requisition.title %>" disabled="disabled">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Developer</label>
        <div class="controls">
            <input type="text" value="<%= application.user_id %>" disabled="disabled">
        </div>
    </div>
</form>
<div class="alert alert-info">
    <strong>Note:</strong> Interview offers are non-binding and will expire at midnight on the specified expiration date.
</div>
