<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label">New Application Status</label>
        <div class="controls">
            <select>
                <option value="INTERVIEW_OFFER_RESCINDED">Interview Offer Rescinded</option>
                <option value="REVIEW">Review</option>
                <option value="REJECTED">Rejected</option>
            </select>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Offer</label>
        <div class="controls">
            <input type="text" value="<%= offer.type %>" disabled="disabled">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Requisition</label>
        <div class="controls">
            <input type="text" value="<%= requisition.title %>" disabled="disabled">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Developer</label>
        <div class="controls">
            <input type="text" value="<%= offer.candidate_id %>" disabled="disabled">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Created</label>
        <div class="controls">
            <input type="text" value="<%= fmt.date(offer.created, 'MM/dd/yy') %>" disabled="disabled">
        </div>
    </div>
    <div class="divider"></div>
</form>
<div class="alert alert-info">
    <strong>Note:</strong> Rescinded interview offers will be visible to developers.
</div>
