{% extends "menu_base.html" %}
{% load staticfiles %}
{% load url from future %}

{% block title %}Tech Residents Topic{% endblock %}

{% block extrahead %}
    <link href="{% static "css/topic.css" %}" rel="stylesheet">
{%endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="span3">
            </div>
            <div class="span9">
                <div id="topicapp">
                    <div class="page-header">
                        <h1>Create Topic</h1>
                    </div>
                    <div class="page-header control-group topic">
                        <h3>Discussion</h3>
                        <div class="controls"/>
                            <input id="root-topic-input" class="span4"/>
                        </div>
                    </div>
                    <div class="page-header" id="topic-add">
                        <h3>Topic</h3>
                        <input id="topic-input" class="span4" placeholder="Topic Title"/>
                        <button class="btn btn-input">Add</button>
                        <div class="control-group">
                            <div class="controls"/>
                                <textarea id="topic-description-input" class="span4" rows="5" placeholder="Topic Description"></textarea>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="topic-duration-input">Topic Duration (mins)</label>
                            <div class="controls">
                                <select id="topic-duration-input">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option selected="selected">5</option>
                                    <option>6</option>
                                    <option>7</option>
                                    <option>8</option>
                                    <option>9</option>
                                    <option>10</option>
                                    <option>11</option>
                                    <option>12</option>
                                    <option>13</option>
                                    <option>14</option>
                                    <option>15</option>
                                    <option>16</option>
                                    <option>17</option>
                                    <option>18</option>
                                    <option>19</option>
                                    <option>20</option>
                                    <option>21</option>
                                    <option>22</option>
                                    <option>23</option>
                                    <option>24</option>
                                    <option>25</option>
                                    <option>26</option>
                                    <option>27</option>
                                    <option>28</option>
                                    <option>29</option>
                                    <option>30</option>
                                    <option>31</option>
                                    <option>32</option>
                                    <option>33</option>
                                    <option>34</option>
                                    <option>35</option>
                                    <option>36</option>
                                    <option>37</option>
                                    <option>38</option>
                                    <option>39</option>
                                    <option>40</option>
                                    <option>41</option>
                                    <option>42</option>
                                    <option>43</option>
                                    <option>44</option>
                                    <option>45</option>
                                    <option>46</option>
                                    <option>47</option>
                                    <option>48</option>
                                    <option>49</option>
                                    <option>50</option>
                                    <option>51</option>
                                    <option>52</option>
                                    <option>53</option>
                                    <option>54</option>
                                    <option>55</option>
                                    <option>56</option>
                                    <option>57</option>
                                    <option>58</option>
                                    <option>59</option>
                                    <option>60</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="well">
                        <ul id="topic-list" class="unstyled">
                        </ul>
                    </div>
                    <div id="topic-buttons">
                        <a id="agend-edit-button" class="btn btn-small">
                            <i class="icon-pencil"></i>
                            Edit
                        </a>
                        <a id="topic-up-button" class="btn btn-small">
                            <i class="icon-arrow-up"></i>
                            Up
                        </a>
                        <a id="topic-down-button" class="btn btn-small">
                            <i class="icon-arrow-down"></i>
                            Down
                        </a>
                        <a id="topic-left-button" class="btn btn-small">
                            <i class="icon-arrow-left"></i>
                            Left
                        </a>
                        <a id="topic-right-button" class="btn btn-small">
                            <i class="icon-arrow-right"></i>
                            Right
                        </a>
                        <a id="topic-remove-button" class="btn btn-small">
                            <i class="icon-remove"></i>
                            Remove
                        </a>
                    </div>
                    <div class="form-actions">
                        <form id="topic-form" class="form-vertical" method="post" action="{% url 'topic.views.create' %}">
                            {% csrf_token %}
                            <input id="topic-form-input" type="hidden" name="topics"/>

                            <div class="controls">
                                <input type="submit" value="Submit" class="btn btn-primary" />
                            </div>

                            {% if form.non_field_errors %}
                                <div class="controls alert alert-error">
                                    {% for error in form.non_field_errors%}
                                        <span>{{error}}</span>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- TODO: add proper escapejs filter that works with json -->
    {% autoescape off %}
    <script>
        var data =  {
            topic_json: {{topic_json}}
        };
    </script>
    {% endautoescape %}

    <!-- Templates -->
    <script type="text/template" id="topic-template">
        <div>
            <a class="toggle-expanded btn btn-tiny">
                <i class="<%= expanded == true ? 'icon-minus' : 'icon-plus' %>"></i>
            </a>
            <strong><span class="level<%= level %>"><%- title %> (<%- duration %> mins)</span></strong>
            <% if(expanded) { %>
                <div class="level<%= level+2 %>">
                <p> <%- description %> </p>
                </div>
            <% } else { %>
            <% } %>
        </div>
    </script>

    <script>
        var require = {
            baseUrl: '/static/js'
        };
    </script>
    <script data-main="{%static "js/apps/topic/main.js" %}" src="{% static "js/3ps/require/require.js" %}"></script>

{% endblock %}
