{% extends "navbar_authenticated.html" %}
{% load staticfiles %}
{% load url from future %}

{% block title %}Topic Details | Tech Residents{% endblock %}

{% block extrahead %}
    <link href="{% static "css/chat_details.css" %}" rel="stylesheet">
    <link href="{% static "css/topic_details.css" %}" rel="stylesheet">
    <link href="{% static "css/3ps/datepicker/datepicker.css" %}" rel="stylesheet">
    <link href="{% static "css/3ps/timepicker/timePicker.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}

    <div class="container">

        <div class="page-header">
            <h1>
                Topic Details
            </h1>
        </div>

        <div id="chat-details" class="row">
            <div class="span6">
                {% for topic in topic_tree %}
                    {% if forloop.first %}
                        <h2 class="level{{ topic.level }}">
                            {{ topic.title }}
                            <small>({{topic.duration}} mins)</small>
                            <br>
                            {% if topic.recommended_participants > 1 %}
                                <small>{{ topic.recommended_participants }} participants recommended</small>
                            {% else %}
                                <small>{{ topic.recommended_participants }} participant recommended</small>
                            {% endif %}
                        </h2>
                    {% else %}
                        <h3 class="level{{ topic.level }}">
                            {{ topic.title }}
                            <small>({{topic.duration}} mins)</small>
                        </h3>
                    {% endif %}
                    <p class="description level{{ topic.level }}">
                        {{ topic.description }}
                    </p>
                {% endfor %}
            </div>

            <div class="span4 offset1 well">
                <h2>
                    Sign Me Up <br>
                    <small>I want to chat about this topic</small>
                </h2>

                {% if messages %}
                    {% for message in messages %}
                        {% if message.tags == 'success' %}
                            <div class="alert alert-success">
                                <p>
                                    Chat successfully scheduled
                                </p>
                            </div>
                            <div>
                                <h5>Be sure to save the information below <br>
                                    and distribute it to all participants:</h5>
                            </div>
                            <div class="well chat-info-well">
                                <p>
                                    <b>Topic:</b> {{ topic.title }} <br>
                                    <b>When:</b> {{ chat_start|date:"M d" }} at {{ chat_start|date:"h:i a e" }} <br>
                                    <a href="{{ chat_link }}">{{ chat_link }}</a>
                                </p>
                            </div>
                        {% endif %}
                    {% endfor %}

                {% else %}

                    <form class="form" method="post" action="{% url 'topic.views.details' encoded_topic_id=encoded_topic_id %}">
                        {% csrf_token %}

                        {% for field in form.visible_fields %}

                            {% if field.html_name == 'chat_time_radio_btns' %}
                                {% for radio in form.chat_time_radio_btns %}
                                    <label class="radio inline">
                                        {{ radio.tag }}
                                        {{ radio.choice_label }}
                                    </label>
                                {% endfor %}
                            {% else %}
                                <div class="chat-scheduler control-group{% if field.errors %} error{% endif %}">
                                    <div class="controls">
                                        {{ field }}
                                        {% for error in field.errors %}
                                            <span class="help-inline">{{error}}</span>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}

                        {% endfor %}

                        <div class="control-group">
                            <div class="controls">
                                {% if form.non_field_errors %}
                                    <div class="alert alert-error">
                                        {% for error in form.non_field_errors%}
                                            <span>{{error}}</span>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                        </div>

                        <div class="control-group">
                            <div class="controls">
                                <input id="create-chat-btn" type="submit" value="Start Chat" class="btn btn-large btn-primary" />
                            </div>
                        </div>
                    </form>

                {% endif %}

            </div>

        </div>

    </div>

    <script src="{% static "js/3ps/jquery/jquery-min.js" %}"></script>
    <script src="{% static "js/3ps/datepicker/bootstrap-datepicker-min.js" %}"></script>
    <script src="{% static "js/3ps/timepicker/timePicker.min.js" %}"></script>
    <script>
        $(document).ready(function(){

            function displayScheduler(chat_starting_now){
                if (chat_starting_now === '1') {
                    $('#create-chat-btn').prop('value', 'Start Chat');
                    $('.chat-scheduler').hide();
                } else {
                    $('#create-chat-btn').prop('value', 'Schedule Chat');
                    $('.chat-scheduler').show();
                }
            }

            $('input[name=chat_time_radio_btns]:radio').change(function(){
                var chat_starting = $(this).val();
                displayScheduler(chat_starting);
            });

            var start_chat = $('input[name=chat_time_radio_btns]:checked').val();
            displayScheduler(start_chat);

            $('#id_chat_date').datepicker({
                viewMode: 'days',
                minViewMode: 'days'
            });

            $('#id_chat_time').timePicker({
                show24Hours: false,
                step: 30
            });

        });
    </script>

{% endblock %}