{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %}</title>
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <!-- Le styles -->
        <link href="{% static "css/3ps/bootstrap/css/bootstrap.css" %}" rel="stylesheet">
        <link href="{% static "css/techresidents.css" %}" rel="stylesheet">

        <!-- Le fav and touch icons -->
        <link rel="shortcut icon" type="image/x-icon" href="{% static "favicon.ico" %}">
        {% block extrahead %}{% endblock %}
    </head>

    <body class="banner">
        <div class="content">
            {% block content %}{% endblock %}
        </div>
        
        {% include 'footer.html' %}
    </body>
</html>
