<script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', '{{ GA_ID }}']);
    {% if USER.is_authenticated %}
        _gaq.push(['_setCustomVar', 1, 'user_id', '{{USER.encoded_id}}', 2]);
        _gaq.push(['_setCustomVar', 2, 'tenant_id', '{{USER.encoded_tenant_id}}', 2]);
    {% endif %}
    {% if GA_TRACK_PAGE_VIEW %}
        _gaq.push(['_trackPageview']);
    {% endif %}

    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

</script>
