{% extends "navbar_base.html" %}
{% load url from future %}

{% block navbarcontent %}
{% if USER.is_developer %}
    <ul class="nav">
        <li>
            <a href="{% url 'home.views.home' %}">Home</a>
        </li>
        <li>
            <a href="{% url 'accounts.views.profile_account' %}">Profile</a>
        </li>
        <li>
            <a href="{% url 'chat.views.highlight_reel' %}">Reel</a>
        </li>
        <li>
            <a href="{% url 'feedback.views.feedback' %}">Feedback</a>
        </li>
    </ul>
    <ul class="nav pull-right">
        <li>
            <a href="{% url 'accounts.views.logout' %}">Logout</a>
        </li>
    </ul>
{% endif %}
{% if USER.is_employer %}
    <ul class="nav">
        <li>
            <a href="{% url 'talent.views.talent' %}">Talent</a>
        </li>
        <li>
            <a href="{% url 'talent.views.talent' %}tracker">Tracker</a>
        </li>
        <li>
            <a href="{% url 'requisition.views.requisition' %}">Requisitions</a>
        </li>
        <li>
            <a href="{% url 'feedback.views.feedback' %}">Feedback</a>
        </li>
    </ul>
    <ul class="nav pull-right">
        <li>
            <a href="{% url 'accounts.views.logout' %}">Logout</a>
        </li>
    </ul>
{% endif %}
{% endblock %}
