{% extends "navbar_base.html" %}
{% load url from future %}

{% block navbarcontent %}
    <a class="brand" href="{% url 'common.views.landing' %}">Tech Residents</a>
    <a class="brand-beta" href="{% url 'common.views.landing' %}">beta</a>
    <ul class="nav pull-right">
        <li>
            <a href="{% url 'common.views.developer_learn_more'%}">Developers</a>
        </li>
        <li>
            <a href="{% url 'common.views.employer_learn_more'%}">Employers</a>
        </li>
        <li>
            <a href="http://blog.techresidents.com">Blog</a>
        </li>
        <li>
            <a href="{% url 'accounts.views.login'%}">Login</a>
        </li>
    </ul>
{% endblock %}



