{% extends "navbar_base.html" %}
{% load url from future %}

{% block navbarcontent %}
{% if USER.is_developer %}
    <ul class="nav">
        <li>
            <a href="{% url 'accounts.views.profile_account' %}">Profile</a>
        </li>
        <li>
            <a href="{% url 'chat.views.highlight_reel' %}">Reel</a>
        </li>
        <li>
            <a href="{% url 'feedback.views.feedback' %}">Feedback</a>
        </li>
    </ul>
    <ul class="nav pull-right">
        <li>
            <a href="{% url 'accounts.views.logout' %}">Logout</a>
        </li>
    </ul>
{% endif %}
{% if USER.is_employer %}
    <ul class="nav">
        <li>
            <a href="{% url 'employer.views.employer' %}search">Talent Search</a>
        </li>
        <li>
            <a href="{% url 'employer.views.employer' %}tracker">Applicant Tracker</a>
        </li>
        <li>
            <a href="{% url 'employer.views.employer' %}requisition/list">Requisitions</a>
        </li>
        <li>
            <a href="{% url 'feedback.views.feedback' %}">Feedback</a>
        </li>
    </ul>
    <ul class="nav pull-right">
        <li>
            <a href="{% url 'accounts.views.logout' %}">Logout</a>
        </li>
    </ul>
{% endif %}
{% endblock %}
