{% extends "navbar_base.html" %}
{% load url from future %}

{% block navbarcontent %}
{% if USER.is_developer %}
    <a class="brand" href="{% url 'developer.views.developer' %}home">Tech Residents</a>
    <a class="brand-beta" href="{% url 'developer.views.developer' %}home">beta</a>
    <ul class="nav">
        <li>
            <a href="{% url 'accounts.views.profile_account' %}">Profile</a>
        </li>
        <li>
            <a href="{% url 'developer.views.developer' %}topics">Topics</a>
        </li>
        <li>
            <a href="{% url 'developer.views.developer' %}reel">Reel</a>
        </li>
        <li>
            <a href="{% url 'feedback.views.feedback' %}" target="_blank">Feedback</a>
        </li>
    </ul>
    <ul class="nav pull-right">
        <li>
            <a href="{% url 'accounts.views.logout' %}">Logout</a>
        </li>
    </ul>
{% endif %}
{% if USER.is_employer %}
    <a class="brand" href="{% url 'common.views.landing' %}">Tech Residents</a>
    <a class="brand-beta" href="{% url 'common.views.landing' %}">beta</a>
    <ul class="nav">
        <li>
            <a href="{% url 'employer.views.employer' %}search">Talent Search</a>
        </li>
        <li>
            <a href="{% url 'employer.views.employer' %}tracker">Applicant Tracker</a>
        </li>
        <li>
            <a href="{% url 'employer.views.employer' %}requisition/list">Requisitions</a>
        </li>
        <li>
            <a href="{% url 'feedback.views.feedback' %}">Feedback</a>
        </li>
    </ul>
    <ul class="nav pull-right">
        <li>
            <a href="{% url 'accounts.views.logout' %}">Logout</a>
        </li>
    </ul>
{% endif %}
{% endblock %}
