{% extends "navbar_authenticated.html" %}
{% load staticfiles %}
{% load url from future %}

{% block title %}Feedback | Tech Residents{% endblock %}

{% block extrahead %}
    <link href="{% static "css/feedback.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}

    <div class="container">

        <div class="row">
            <div class="span9">
                <div class="section-header">
                    <span>Feedback</span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="span12">

                {% if messages %}
                    {% for message in messages %}
                        {% if message.tags == 'success' %}
                            <div class="alert alert-success">
                                <span>Thanks for your feedback!</span>
                            </div>
                        {% endif %}
                    {% endfor %}

                {% else %}

                    <form class="form-horizontal" method="post" action="{% url 'feedback.views.feedback' %}">
                        {% csrf_token %}
                        <fieldset>
                            {% for field in form %}
                                <div class="control-group{% if field.errors %} error{% endif %}">
                                    <label class="control-label">{{ field.label_tag }}</label>
                                    <div class="controls">
                                        {{ field }}
                                        {% for error in field.errors %}
                                            <span class="help-inline">{{error}}</span>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endfor %}

                            <div class="control-group">
                                <div class="controls">
                                    <input type="submit" value="Submit" class="btn btn-primary" />
                                </div>
                            </div>

                            <div class="control-group">
                                <div class="controls">
                                    {% if form.non_field_errors %}
                                        <div class="alert alert-error">
                                            {% for error in form.non_field_errors%}
                                                <span>{{error}}</span>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </fieldset>
                    </form>
                {% endif %}


            </div>
        </div>



    </div>


{% endblock %}
