label.error {
    float: none;
    color: red;
    padding-left: .5em;
    vertical-align: top;
}

.wishlist-container > div {
    display: inline-block;
    border: 1px solid #E3E3E3;
    border-radius: 4px 4px 4px 4px;
    margin-right: 5px;
    margin-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 18px;
    line-height: 36px;
    background-color: #ffffff;
}

.wishlist-item-years-text {
    font-size: 12px;
    line-height: 36px;
}
