<div class="span9">
    <div id="nav-panel-whiteboard">
        <select id="select-whiteboard">
            <%_.each(whiteboardCollection, function(whiteboard) { %>
                <option value="<%= whiteboard.whiteboardId %>"><%= whiteboard.name %></option>
            <% }); %>
        </select>
        <button class="btn btn-input" data-toggle="modal" href="#create-whiteboard-modal">Create</button>
        <button id="whiteboard-delete-button" class="btn btn-input">Delete</button>
        <button id="whiteboard-clear-button" class="btn btn-input">Clear</button>
        <button id="whiteboard-undo-button" class="btn btn-input">Undo</button>

        <div class="modal hide fade" id="create-whiteboard-modal">
            <div class="modal-header">
                <button class="close" data-dismiss="modal">×</button>
                <h3>Whiteboard Name</h3>
            </div>
            <div class="modal-body">
                <div id="create-whiteboard-name-input">
                    <input type="text" class="input-xlarge" id="whiteboard-name-input">
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn" data-dismiss="modal">Close</a>
                <a href="#" id="whiteboard-add-button" class="btn btn-primary">OK</a>
            </div>
        </div>

    </div>
</div>
