<div class="span2">
    <div class="well">

        <ul class="nav nav-list">
            <li class="nav-header">Tools</li>
        </ul>
        <div class="btn-group" data-toggle="buttons-radio">
            <button id="tools-pen" class="btn whiteboard-tool-button" title="Pen Tool"><i class="icon-pencil"></i></button>
            <button id="tools-arrow" class="btn whiteboard-tool-button" title="Arrow Tool"><i class="icon-arrow-right"></i></button>
            <button id="tools-rect" class="btn whiteboard-tool-button" title="Rectangle Tool"><i class="icon-retweet"></i></button>
            <button id="tools-circle" class="btn whiteboard-tool-button" title="Circle Tool"><i class="icon-remove-circle"></i></button>
            <button id="tools-erase" class="btn whiteboard-tool-button" title="Erase Tool"><i class="icon-edit"></i></button>
        </div>

        <ul class="nav nav-list">
            <li class="nav-header">Color</li>
        </ul>
        <div id="color-picker-wrapper">

        </div>

    </div>
</div>

