pytz
django==1.4
psycopg2==2.4.4
pygments==1.5
git+git://github.com/opentok/Opentok-Python-SDK.git
git+https://github.com/basho/riak-python-client.git@1.4.0#egg=riak

git+ssh://dev.30and30.com/30and30/repos/techresidents/lib/python/trpycore.git@integration#egg=trpycore
